<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" class="component first-component">
  <h1>Skapa ny exportinställning</h1>
</div>
<mat-dialog-content>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  <div *ngIf="!loading">
    <div fxLayout="row" class="component first-component">
      <mat-checkbox [(ngModel)]="enabled">Aktiv</mat-checkbox>
    </div>
    <div fxLayout="row" class="component">
      <mat-form-field>
        <input autocomplete="off" matInput type="text" required [(ngModel)]="filename" [disabled]="data">
        <mat-placeholder>Filnamn</mat-placeholder>
      </mat-form-field>
    </div>

    <div fxLayout="row" class="component">
      <mat-form-field>
        <mat-select required
                    [(ngModel)]="selectedCustomer"
                    (selectionChange)="onCustomerSelected()"
                    [disabled]="data">
          <mat-option *ngFor="let customer of customers" [value]="customer">
            {{ customer.organizationName }}
          </mat-option>
        </mat-select>
        <mat-placeholder>Välj kund</mat-placeholder>
      </mat-form-field>
    </div>

    <mat-form-field *ngIf="selectedCustomer && businessLevels">
      <mat-select [(ngModel)]="selectedBusinessLevel"
                  [disabled]="data">
        <mat-option [value]="undefined"></mat-option>
        <mat-option *ngFor="let level of businessLevels" [value]="level">
          {{level.name}}
        </mat-option>
      </mat-select>
      <mat-placeholder>Verksamhetsområde</mat-placeholder>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!loading">
  <button *ngIf="!saving && selectedCustomer && filename" mat-button
          (click)="done()">
    SPARA
  </button>
  <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
  <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
