<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="component first-component">
    <mat-checkbox [checked]="true" disabled>Produkten utgår
    </mat-checkbox>
    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
              matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED}}"
              [matTooltipShowDelay]="500">info_outline
    </mat-icon>
  </div>
  <div fxLayout="row" class="component">
    <mat-form-field>
      <input autocomplete="off" matInput [matDatepicker]="picker" required [(ngModel)]="replacementDate"
             [disabled]="data.product.status === 'DISCONTINUED'">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-placeholder class="icon-label">Produkten utgår datum
        <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED_SET_DATE}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
    </mat-form-field>
  </div>
  <div fxLayout="column" class="component" fxLayoutGap="10px">
    <mat-checkbox [(ngModel)]="data.product.inactivateRowsOnReplacement"
                  [disabled]="data.product.status === 'DISCONTINUED'">
      Inaktivera prislisterader i aktuella prislistor (inklusive generell prislista) där artiklar baserade på denna
      produkt förekommer.
      Notera att det då kommer skickas en begäran om inaktivering till respektive kund för varje avtal som kunden får
      godkänna/avböja.
    </mat-checkbox>
    <mat-radio-group [(ngModel)]="replaced">
      <div fxLayout="row">
        <mat-radio-button [value]="true">
          Produkten ersätts av
        </mat-radio-button>
        <mat-form-field *ngIf="replaced" class="replaced-products">
          <mat-select [(ngModel)]="selectedReplacementProducts" multiple>
            <mat-option *ngFor="let product of products" [value]="product">
              {{ product.productNumber }} - {{ product.productName }}
            </mat-option>
          </mat-select>
          <mat-placeholder>Produkt</mat-placeholder>
        </mat-form-field>
        <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED_SET_REPLACEMENT_PRODUCT}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </div>
      <div fxLayout="row" class="no-replacement">
        <mat-radio-button [value]="false">
          Ersättningsprodukt saknas
        </mat-radio-button>
      </div>
    </mat-radio-group>

    <div fxLayout="row">
      <p *ngIf="helpTextsLoaded">{{helpTexts.values.PRODUCT_DISCONTINUED_INFO}}</p>
    </div>
    <div fxLayout="row">
      <h3>Artiklar baserad på {{data.product.productName}}</h3>
    </div>
    <div *ngIf="articlesBasedOnProduct.length" fxFlex="80%" class="container mat-elevation-z1">

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="typ">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.category.articleType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="benämning">
          <mat-header-cell *matHeaderCellDef fxFlex="50%"> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="50%"> {{element.articleName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artikelnummer">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="15%"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.status | formatProductStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kategori">
          <mat-header-cell *matHeaderCellDef fxFlex="15%"> Kategori</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.category.code}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </mat-table>
      <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
        <span *ngIf="pageFrom > 1" class="paginator-nav" (click)="previousPage(true)"><</span>
        <span>{{pageFrom + 1}}-{{pageToText}}</span>
        <span *ngIf="searchTotal > pageTo" class="paginator-nav" (click)="nextPage(true)">></span>
      </div>
    </div>
    <div *ngIf="!articlesBasedOnProduct.length">
      Inga artiklar är baserade på produkten
    </div>

    <div fxLayout="row">
      <p *ngIf="helpTextsLoaded">{{helpTexts.values.PRODUCT_DISCONTINUED_INFO_CONNECTIONS}}</p>
    </div>

    <div fxLayout="row">
      <h3>Artiklar kopplade till {{data.product.productName}}</h3>
    </div>


    <div *ngIf="articlesFittingToProduct.length" fxFlex="80%" class="container mat-elevation-z1">

      <mat-table #table [dataSource]="dataSource2">

        <ng-container matColumnDef="typ">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.category.articleType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="benämning">
          <mat-header-cell *matHeaderCellDef fxFlex="50%"> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="50%"> {{element.articleName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artikelnummer">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="15%"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.status | formatProductStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kategori">
          <mat-header-cell *matHeaderCellDef fxFlex="15%"> Kategori</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.category.code}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </mat-table>
      <div *ngIf="searchTotal2 > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
        <span *ngIf="pageFrom2 > 1" class="paginator-nav" (click)="previousPage(false)"><</span>
        <span>{{pageFrom2 + 1}}-{{pageToText2}}</span>
        <span *ngIf="searchTotal2 > pageTo2" class="paginator-nav" (click)="nextPage(false)">></span>
      </div>
    </div>
    <div *ngIf="!articlesFittingToProduct.length">
      Inga artiklar är kopplade till produkten
    </div>
  </div>
</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button *ngIf="!saving" mat-raised-button color="primary" (click)="done()"
            [disabled]="!replacementDate || (replaced && !(selectedReplacementProducts && selectedReplacementProducts.length))">
      SPARA
    </button>
    <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </mat-dialog-actions>
</div>
