<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div *ngIf="loaded" class="login-wrapper">
  <div fxLayout="row">
    <h3>Välkommen till Hjälpmedelstjänsten!</h3>
  </div>

  <div *ngIf="isValidActivationLink">
    <div fxLayout="row">
      <h3>Skapa ditt nya lösenord</h3>
    </div>
    <div fxLayout="row">
      <span>Lösenord ska bestå av minst 10 valfria tecken</span>
    </div>

    <div fxLayout="row" class="login-component">
      <mat-form-field>
        <input autocomplete="off" matInput id="password" type="password" minlength="10" required [(ngModel)]="password">
        <mat-placeholder>Skriv in ditt nya lösenord</mat-placeholder>
      </mat-form-field>
    </div>

    <div fxLayout="row" class="login-component">
      <mat-form-field>
        <input autocomplete="off" (paste)="false" matInput type="password" required [(ngModel)]="confirmPassword" validateEqual="password">
        <mat-placeholder>Upprepa nytt lösenord</mat-placeholder>
      </mat-form-field>
    </div>

    <div fxLayout="row" class="login-component">
      <button mat-raised-button color="primary" (click)="changePassword()">Spara nytt lösenord</button>
    </div>
  </div>

  <div *ngIf="!isValidActivationLink">
    <p>Aktiveringslänken är inte giltig.</p> <a href="/">Till inloggningssidan</a>
  </div>
</div>
