<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div fxLayout="row" class="navigation-header">
    <div fxFlex="95%">
      <h1>Lägg till artiklar i utbudet {{assortment.name}}</h1>
    </div>
  </div>
  <div fxLayout="row" class="navigation">
    <span routerLink="/organization/{{organizationId}}/assortment">Utbud</span>
    <span> > </span>
    <span routerLink="/organization/{{organizationId}}/assortment/{{assortment.id}}/handle">Hantera utbud</span>
    <span> > </span>
    <span class="navigation-last">Lägg till artiklar</span>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök artiklar</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="10px" class="content">
    <div fxFlex="50%" class="border-component">
      <div class="component first-component">
        <mat-form-field floatLabel="always">
          <mat-select [(ngModel)]="selectedAgreement"
                      (selectionChange)="onAgreementSelection()">
            <mat-option [value]="undefined"></mat-option>
            <mat-option *ngFor="let agreement of agreements" [value]="agreement.id">
              {{agreement.agreementNumber}} <span *ngIf="agreement.agreementName"> - {{agreement.agreementName}}</span>
            </mat-option>
          </mat-select>
          <mat-placeholder class="icon-label">Avtal
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.ASSORTMENT_AGREEMENT}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </mat-placeholder>
        </mat-form-field>
        <mat-form-field *ngIf="selectedAgreement" floatLabel="always">
          <mat-select [(ngModel)]="selectedPricelist"
                      (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let pricelist of pricelists" [value]="pricelist.id">
              {{pricelist.number}}
            </mat-option>
          </mat-select>
          <mat-placeholder>Prislista</mat-placeholder>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" class="border-component">
      <div class="component first-component">
        <mat-form-field floatLabel="always">
          <input autocomplete="off" type="text" matInput readonly
                 [formControl]="categoryFormControl"
                 (click)="openCategoryDialog()">
          <button mat-button *ngIf="categoryFormControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="clearCategory()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-placeholder class="icon-label">Kategori
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.ASSORTMENT_CATEGORY}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </mat-placeholder>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="(allArticles.length !== 1 && pricelistArticles.length !== 1) && !loading">"{{tmpQuery}}
            " ({{searchTotal}} träffar)</span>
          <span *ngIf="(allArticles.length === 1 || pricelistArticles.length === 1) && !loading">"{{tmpQuery}}
            " ({{searchTotal}} träff)</span>
        </span>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">

    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="(allArticles.length || pricelistArticles.length) && !loading" fxFlex="100%"
         class="container mat-elevation-z1">

      <mat-table *ngIf="!selectedPricelist" #table [dataSource]="dataSource">

        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef fxFlex="4%">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="4%">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(element) : null"
                          [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="typ">
          <mat-header-cell *matHeaderCellDef fxFlex="5%"> Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.articleType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artikelnummer">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> Artikelnummer</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="benämning">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="organisation">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> Organisation</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.organizationName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-table *ngIf="selectedPricelist" #table [dataSource]="dataSource">

        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef fxFlex="4%">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="4%">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(element) : null"
                          [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="typ">
          <mat-header-cell *matHeaderCellDef fxFlex="5%"> Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.article.category.articleType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artikelnummer">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> Artikelnummer</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.article.articleNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="benämning">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.article.articleName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="organisation">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> Organisation</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.article.organizationName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.article.status | formatProductStatus}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
        <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
        <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
        </div>
        <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
     class="savebar-container">
  <div fxFlex="50%"></div>
  <div fxFlex="50%">
    <button *ngIf="!saving" mat-raised-button
            color="primary"
            [disabled]="!selection.selected.length"
            (click)="addArticlesToAssortment()">LÄGG TILL MARKERADE ARTIKLAR
      ({{selection.selected.length}})
    </button>
    <a *ngIf="!saving" mat-button routerLink="../handle">STÄNG</a>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
