<!--
* Copyright (C) 2019 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
  <div class="page-wrapper">

    <div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <h1>{{pricelist.generalPricelist.generalPricelistNumber}}</h1>
      </div>
      <div
        *ngIf="!editMode && pricelist.status !== 'INACTIVE' && pricelist.status !== 'PAST' && hasPermissionToUpdateGeneralPricelistPricelistRow"
        fxFlex="2%" fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>
      <div *ngIf="!editMode && (hasPermissionToViewGeneralPricelistPricelist || isServiceOwner || isCustomer)" fxFlex="3%">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                  class="tooltip"
                                                  matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                  [matTooltipShowDelay]="500">info_outline
        </mat-icon></span>
         <!-- <span class="menu-label">MENY</span> -->
        </button>
        <mat-menu #menu="matMenu" class="wide-mat-menu">
          <button *ngIf="hasPermissionToExportGeneralPricelistPricelistRows" mat-menu-item (click)="exportPricelistAll()">
          <mat-icon color="primary">save_alt</mat-icon>
          <span>Läs ut generell prislista för hantering via Excel (alla artiklar)</span>
        </button>

          <button *ngIf="hasPermissionToExportGeneralPricelistPricelistRows" mat-menu-item (click)="exportPricelistOnlyInProduction()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Läs ut generell prislista för hantering via Excel (aktiva artiklar)</span>
          </button>

          <button *ngIf="hasPermissionToExportGeneralPricelistPricelistRows" mat-menu-item (click)="exportPricelistOnlyDiscontinued()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Läs ut generell prislista för hantering via Excel (utgångna artiklar)</span>
          </button>

          <button *ngIf="hasPermissionToImportGeneralPricelistPricelistRows && pricelist.status !== 'PAST'"
                  mat-menu-item (click)="openImportPricelistDialog()">
            <mat-icon color="primary">unarchive</mat-icon>
            <span>Läs in generell prislista via Excel-fil</span>
          </button>
          <button mat-menu-item (click)="exportSearchResults()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Exportera sökresultat till Excel-fil</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div fxLayout="row" class="navigation">
      <span routerLink="../../">Generell prislista</span><span> > </span>
      <span class="navigation-last">Hantera prislista</span>
    </div>

    <div fxLayout="row" class="content">
      <div fxFlex="80%" class="border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>PRISLISTA</h2>
        </div>
        <div fxLayout="row" fxLayout.lt-md="{{flexDirection}}">
          <div fxFlex="30%">
            <div class="component first-component last-component">
              <mat-form-field>
                <input autocomplete="off" type="text" matInput
                       [ngModel]="pricelist.generalPricelist.generalPricelistNumber" disabled>
                <mat-placeholder>Avtalsnummer</mat-placeholder>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="30%">
            <div class="component first-component last-component">
              <mat-form-field>
                <input autocomplete="off" type="text" matInput [ngModel]="pricelist.number" disabled>
                <mat-placeholder>Prislistenummer</mat-placeholder>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="30%">
            <div class="component first-component last-component">
              <mat-form-field>
                <input autocomplete="off" matInput [ngModel]="pricelistValidFrom | date: 'yyyy-MM-dd'" disabled>
                <mat-placeholder>Giltigt from</mat-placeholder>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" class="content">
      <div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
        <div class="container mat-elevation-z1">
          <mat-form-field>
            <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
            <mat-placeholder>Sök i prislistan</mat-placeholder>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
          <div fxFlex="33%" class="border-component">
            <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
              <h2>STATUS</h2>
            </div>
            <div class="component first-component">
              <mat-checkbox [(ngModel)]="filterActive" (change)="onFilterChange()">Aktiv</mat-checkbox>
            </div>
            <div class="component last-component">
              <mat-checkbox [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
              </mat-checkbox>
            </div>
          </div>
          <div *ngIf="!isCustomer" fxFlex="33%" class="border-component">
            <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
              <h2>PRISER</h2>
            </div>
            <div class="component first-component">
              <mat-checkbox [(ngModel)]="filterShowRowsWithPrices" (change)="onFilterChange()">Visa artiklar med pris
              </mat-checkbox>
            </div>
            <div class="component">
              <mat-checkbox [(ngModel)]="filterShowRowsWithoutPrices" (change)="onFilterChange()">Visa artiklar som
                saknar pris
              </mat-checkbox>
            </div>
          </div>
          <div fxFlex="33%" class="border-component">
            <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
              <h2>ARTIKELTYPER</h2>
            </div>
            <div class="component first-component">
              <mat-checkbox [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel</mat-checkbox>
            </div>
            <div class="component">
              <mat-checkbox [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör</mat-checkbox>
            </div>
            <div class="component">
              <mat-checkbox [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel</mat-checkbox>
            </div>
            <div class="component">
              <mat-checkbox [(ngModel)]="filterTJ" (change)="onFilterChange()">Tjänst</mat-checkbox>
            </div>
            <div class="component last-component">
              <mat-checkbox [(ngModel)]="filterI" (change)="onFilterChange()">Inställning</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" class="content">
      <div fxFlex="80%">
        <div fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="pricelistRows.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="pricelistRows.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
        </div>
      </div>
    </div>


    <div fxLayout="row" class="content">
      <div fxFlex="100%">
        <div *ngIf="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="pricelistRows.length && !loading" class="container mat-elevation-z1 table-lg">
          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="typ">
              <mat-header-cell *matHeaderCellDef fxFlex="2.5%"> Typ</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="3%"> {{element.article.category.articleType}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="artnr">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Artnr</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="10%">
                <span [matTooltip]="element.article.articleNumber.length > 100 ? element.article.articleNumber : ''">
                  {{element.article.articleNumber | slice: 0:100}}{{element.article.articleNumber.length > 100 ? '&hellip;' : ''}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="benämning">
              <mat-header-cell *matHeaderCellDef fxFlex="17.5%"> Benämning</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="17.5%">
                <span [matTooltip]="element.article.articleName.length > 100 ? element.article.articleName : ''">
                  {{element.article.articleName | slice: 0:100}}{{element.article.articleName.length > 100 ? '&hellip;' : ''}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="kategori">
              <mat-header-cell *matHeaderCellDef fxFlex="7.5%"> Kategori</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="7.5%"> {{element.article.category.code}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="beställningsenhet">
              <mat-header-cell *matHeaderCellDef fxFlex="8%"> Beställningsenhet</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="8%"><span
                *ngIf="element.article.orderUnit">{{element.article.orderUnit.name}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="utgått">
              <mat-header-cell *matHeaderCellDef fxFlex="5%"> Utgått</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="5%"><span *ngIf="element.article.status === 'DISCONTINUED'">Utgått</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pris">
              <mat-header-cell *matHeaderCellDef fxFlex="5%"> Pris* (SEK)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="5%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <input autocomplete="off" tabindex="1" type="number" matInput [(ngModel)]="element.price"
                         (change)="updatePricelistRow(element)">
                </mat-form-field>
                <span
                  *ngIf="!editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || (element.status !=='ACTIVE')">{{element.price | number:'':'sv-SE'}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gäller från">
              <mat-header-cell *matHeaderCellDef fxFlex="8%"> Gäller från</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="8%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <input autocomplete="off" readonly matInput [matDatepicker]="pickerFrom"
                         [(ngModel)]="element.validFrom"
                         (ngModelChange)="updatePricelistRow(element)">
                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
                <span
                  *ngIf="!editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'">{{element.validFrom | date: 'yyyy-MM-dd'}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="min best">
              <mat-header-cell *matHeaderCellDef fxFlex="4%"> Min best*</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="4%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <input autocomplete="off" type="number" matInput [(ngModel)]="element.leastOrderQuantity"
                         (change)="updatePricelistRow(element)">
                </mat-form-field>
                <span
                  *ngIf="!editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'">{{element.leastOrderQuantity}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="levtid">
              <mat-header-cell *matHeaderCellDef fxFlex="4%"> Levtid (dagar)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="4%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <input autocomplete="off" type="number" matInput [(ngModel)]="element.deliveryTime"
                         (change)="updatePricelistRow(element)">
                </mat-form-field>
                <span
                  *ngIf="!editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'">{{element.deliveryTime}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="garanti(antal)">
              <mat-header-cell *matHeaderCellDef fxFlex="4%"> Garanti (antal)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="4%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <input autocomplete="off" type="number" matInput [(ngModel)]="element.warrantyQuantity"
                         (change)="updatePricelistRow(element)">
                </mat-form-field>
                <span
                  *ngIf="!editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'">{{element.warrantyQuantity}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="(enhet)">
              <mat-header-cell *matHeaderCellDef fxFlex="5.5%"> (enhet)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="5.5%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <mat-select [(value)]="element.warrantyQuantityUnit" (selectionChange)="updatePricelistRow(element)">
                    <mat-option *ngFor="let unit of units" [value]="unit">
                      {{ unit.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <span
                  *ngIf="element.warrantyQuantityUnit && !editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'">{{element.warrantyQuantityUnit.name}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="(gäller från)">
              <mat-header-cell *matHeaderCellDef fxFlex="6.5%"> (gäller från)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="6.5%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <mat-select [(value)]="element.warrantyValidFrom" (selectionChange)="updatePricelistRow(element)">
                    <mat-option *ngFor="let item of warrantyValidFrom" [value]="item">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <span
                  *ngIf="element.warrantyValidFrom && !editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'">{{element.warrantyValidFrom.name}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="(villkor)">
              <mat-header-cell *matHeaderCellDef fxFlex="5%"> (villkor)</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="5%">
                <mat-form-field
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow && element.status === 'ACTIVE'">
                  <input autocomplete="off" matInput [(ngModel)]="element.warrantyTerms"
                         (change)="updatePricelistRow(element)">
                </mat-form-field>
                <span
                  *ngIf="element.warrantyTerms && !editMode || !hasPermissionToUpdateGeneralPricelistPricelistRow || element.status !=='ACTIVE'"
                  [matTooltip]="element.warrantyTerms && element.warrantyTerms.length > 8 ? element.warrantyTerms : ''">{{element.warrantyTerms | slice: 0:8}}{{element.warrantyTerms.length > 8 ? '&hellip;' : ''}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef fxFlex="2.5%"> Status</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="2.5%"> {{element.status | formatPricelistStatus}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="inactivate">
              <mat-header-cell *matHeaderCellDef fxFlex="2%"></mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="2%">
                <button
                  *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow "
                  mat-icon-button [matMenuTriggerFor]="inactivationMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #inactivationMenu="matMenu">
                  <button mat-menu-item (click)="inactivatePrice(element)">
                    <mat-icon color="warn">block</mat-icon>
                    <span>Ta bort rad</span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
            <ng-container *ngIf="!editMode" matColumnDef="anchor">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a *ngIf="!editMode"
                   href="../organization/{{element.article.organizationId}}/article/{{element.article.id}}/handle?search=true"
                   class="article-link"></a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <div *ngIf="searchTotal> offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
            <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
            <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
            </div>
            <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
       class="savebar-container">
    <div fxFlex="50%"></div>
    <div fxFlex="50%">
      <button *ngIf="editMode && hasPermissionToUpdateGeneralPricelistPricelistRow"
              mat-raised-button
              color="primary" (click)="openAddPricelistRowDialog()">LÄGG TILL ARTIKLAR
      </button>
      <a mat-button (click)="toggleEditMode()">STÄNG</a>
    </div>
  </div>
</div>
