<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded" class="content">Laddar...</div>
  <div *ngIf="loaded">
    <div fxLayout="row" class="navigation" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <h1 *ngIf="agreementId">{{agreement.agreementNumber}}</h1>
        <h1 *ngIf="!agreementId">Nytt inköpsavtal</h1>
      </div>
      <div
        *ngIf="!tabIndex && agreementId && !editMode && hasPermissionToCreateAgreement && isOwnAgreement"
        fxFlex="2%" fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>
      <div *ngIf="agreementId && !editMode && hasPermissionToDeleteAgreement" fxFlex="3%">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon color="warn">warning</mat-icon>
            <span>Inaktivera</span>
          </button>
          <button mat-menu-item (click)="deleteAgreement()">
            <mat-icon>delete</mat-icon>
            <span>Ta bort</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div fxLayout="row" class="navigation">
      <span routerLink="/organization/{{organizationId}}/agreement">Inköpsavtal</span><span> > </span><span
      class="navigation-last">Hantera inköpsavtal</span>
    </div>

    <mat-tab-group class="tab-group" (selectedTabChange)="onTabSelection($event)">
      <mat-tab label="Inköpsavtal">
        <div class="tab-content">
          <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
            <div fxLayout="column" fxFlex="50%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>INKÖPSAVTAL</h2>
                <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.AGREEMENT_HEADER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>

              <div fxLayout="row" class="component first-component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput required autofocus [formControl]="numberFormControl">
                  <mat-placeholder class="icon-label">Avtalsnummer
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_AGREEMENTNUMBER}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                  <mat-error *ngIf="numberError">{{numberError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [formControl]="nameFormControl">
                  <mat-placeholder>Avtalsnamn</mat-placeholder>
                  <mat-error *ngIf="nameError">{{nameError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <mat-select required [formControl]="supplierFormControl"
                              (ngModelChange)="onSupplierChange()">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
                      {{ supplier.organizationName }}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder class="icon-label">Leverantör
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_SUPPLIER}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                  <mat-error *ngIf="supplierError">{{supplierError}}</mat-error>
                </mat-form-field>
                <mat-icon *ngIf="supplierFormControl.enabled"
                          class="tooltip"
                          matTooltip="{{helpTexts.values.AGREEMENT_SUPPLIER_DROPDOWN}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" *ngIf="!agreementId" matInput disabled
                         [(ngModel)]="organization.organizationName">
                  <input autocomplete="off" *ngIf="agreementId" matInput disabled
                         [(ngModel)]="agreement.customerOrganization.organizationName">
                  <mat-placeholder class="icon-label">Kund
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_CUSTOMER}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field
                  *ngIf="!agreementId && ((organizationBusinessLevels && organizationBusinessLevels.length) ||
                   (profile.userEngagements[0].businessLevels && profile.userEngagements[0].businessLevels.length))"
                  floatLabel="always">
                  <mat-select
                    *ngIf="profile.userEngagements[0].businessLevels && profile.userEngagements[0].businessLevels.length"
                    [(ngModel)]="selectedBusinessLevel"
                    [disabled]="!editMode">
                    <mat-option [value]="undefined"></mat-option>
                    <mat-option *ngFor="let level of profile.userEngagements[0].businessLevels" [value]="level">
                      {{level.name}}
                    </mat-option>
                  </mat-select>
                  <mat-select
                    *ngIf="organizationBusinessLevels && organizationBusinessLevels.length"
                    [(ngModel)]="selectedBusinessLevel"
                    [disabled]="!editMode">
                    <mat-option [value]="undefined"></mat-option>
                    <mat-option *ngFor="let level of organizationBusinessLevels" [value]="level">
                      {{level.name}}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder class="icon-label">Begränsad till verksamhetsområde
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_BUSINESSLEVEL}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                </mat-form-field>
                <mat-form-field *ngIf="agreementId && agreement.customerBusinessLevel" floatLabel="always">
                  <input autocomplete="off"
                         *ngIf="agreement.customerBusinessLevel"
                         matInput disabled [(ngModel)]="agreement.customerBusinessLevel.name">
                  <mat-placeholder class="icon-label">Begränsad till verksamhetsområde
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_BUSINESSLEVEL}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                </mat-form-field>
              </div>

              <div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerFrom" required
                           [formControl]="validFromFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                    <mat-placeholder class="icon-label">Giltig from
                      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                                matTooltip="{{helpTexts.values.AGREEMENT_VALID_FROM}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </mat-placeholder>
                    <mat-error *ngIf="validFromError">{{validFromError}}</mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerTo" required
                           [formControl]="validToFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                    <mat-placeholder class="icon-label">Giltig tom
                      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                                matTooltip="{{helpTexts.values.AGREEMENT_VALID_TO}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </mat-placeholder>
                    <mat-error *ngIf="validToError">{{validToError}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="validity-dates extension-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}"
                   fxLayoutGap="20px">
                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerExtension"
                           [formControl]="extensionFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerExtension"></mat-datepicker-toggle>
                    <mat-datepicker #pickerExtension></mat-datepicker>
                    <mat-placeholder class="icon-label">Förlängningsoption tom
                      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                                matTooltip="{{helpTexts.values.AGREEMENT_EXTENSION}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </mat-placeholder>
                    <mat-error *ngIf="extensionOptionToError">{{extensionOptionToError}}</mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerReminder"
                           [formControl]="reminderFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerReminder"></mat-datepicker-toggle>
                    <mat-datepicker #pickerReminder></mat-datepicker>
                    <mat-placeholder class="icon-label">Skicka påminnelse
                      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                                matTooltip="{{helpTexts.values.AGREEMENT_REMINDER}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </mat-placeholder>
                    <mat-error *ngIf="sendReminderOnError">{{sendReminderOnError}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="component last-component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [matDatepicker]="pickerEnd" [formControl]="endDateFormControl">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                  <mat-placeholder class="icon-label">Avtalet uppsagt i förtid - slutdatum
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_END_DATE}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                  <mat-error *ngIf="endDateError">{{endDateError}}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px" class="column-content">
              <div class="border-component">
                <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                  <h2>GODKÄNNER PRISLISTA *</h2>
                  <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.AGREEMENT_APPROVER}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>

                <div *ngIf="!agreement.customerPricelistApprovers || !agreement.customerPricelistApprovers.length"
                     class="component first-component>">
                  <p>Saknas</p>
                  <mat-error *ngIf="pricelistApproverError">{{pricelistApproverError}}</mat-error>
                </div>
                <div *ngIf="agreement.customerPricelistApprovers && agreement.customerPricelistApprovers.length"
                     class="dynamic-component">
                  <div *ngFor="let approver of agreement.customerPricelistApprovers" fxLayout="row">
                    <div fxLayout="column" fxFlex="45%">
                      {{approver.firstName}} {{approver.lastName}}
                    </div>
                    <div fxLayout="column" fxFlex="45%">
                      <div>{{approver.electronicAddress.email}}</div>
                      <div>{{approver.electronicAddress.telephone}}</div>
                    </div>
                    <div *ngIf="editMode && hasPermissionToCreateAgreement" fxLayout="column" fxFlex="10%">
                      <mat-icon class="remove" (click)="removeUser(approver)">clear</mat-icon>
                    </div>
                  </div>
                </div>
                <div *ngIf=" editMode && hasPermissionToCreateAgreement" fxLayout="row" class="component">
                  <div fxFlex="40%" fxLayoutAlign="end center">
                    <button mat-button (click)="openAddUsersDialog()" class="open-add-dialog">
                      LÄGG TILL
                    </button>
                  </div>
                </div>
              </div>

              <div class="border-component">
                <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                  <h2>AVTALSKONTAKT LEVERANTÖR</h2>
                  <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.AGREEMENT_SUPPLIER_CONTACT}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>

                <div *ngIf="!supplierContacts || !supplierContacts.length" class="component first-component>">
                  <p>Vald leverantör saknar avtalskontakter</p>
                </div>
                <div *ngFor="let contact of supplierContacts" fxLayout="row" class="dynamic-component">
                  <div fxLayout="column" fxFlex="50%">
                    {{contact.firstName}} {{contact.lastName}}
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <div>{{contact.electronicAddress.email}}</div>
                    <div>{{contact.electronicAddress.telephone}}</div>
                  </div>
                </div>
              </div>

              <div class="border-component">
                <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                  <h2>DELAS MED</h2>
                  <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.AGREEMENT_SHARE}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>

                <div
                  *ngIf="(!agreement.sharedWithCustomers || !agreement.sharedWithCustomers.length) &&
                   (!agreement.sharedWithCustomersBusinessLevels || !agreement.sharedWithCustomersBusinessLevels.length)"
                  class="component first-component>">
                  <p>Saknas</p>
                </div>
                <div *ngIf="agreement.sharedWithCustomers && agreement.sharedWithCustomers.length"
                     class="dynamic-component">
                  <div *ngFor="let customer of agreement.sharedWithCustomers" fxLayout="row">
                    <div fxLayout="column" fxFlex="90%" class="dynamic-content">
                      {{customer.organizationName}}
                    </div>
                    <div *ngIf="editMode && hasPermissionToCreateAgreement" fxLayout="column" fxFlex="10%">
                      <mat-icon class="remove" (click)="removeCustomer(customer)">clear</mat-icon>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="agreement.sharedWithCustomersBusinessLevels && agreement.sharedWithCustomersBusinessLevels.length"
                  class="dynamic-component">
                  <h3>Verksamhetsområden</h3>
                  <div *ngFor="let level of agreement.sharedWithCustomersBusinessLevels" fxLayout="row">
                    <div fxLayout="column" fxFlex="90%" class="dynamic-content">
                      {{level.organization.organizationName}} - {{level.name}}
                    </div>
                    <div *ngIf="editMode && hasPermissionToCreateAgreement" fxLayout="column" fxFlex="10%">
                      <mat-icon class="remove" (click)="removeBusinessLevel(level)">clear</mat-icon>
                    </div>
                  </div>
                </div>

                <div *ngIf="editMode && hasPermissionToCreateAgreement" fxLayout="row" class="component">
                  <div fxFlex="40%" fxLayoutAlign="end center">
                    <button mat-button (click)="openShareWithCustomersDialog()" class="open-add-dialog">
                      LÄGG TILL
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}">
            <div fxLayout="column" fxFlex="15%" class="column-content border-component not-last">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>ARTIKELTYP</h2>
              </div>

              <div class="first-warranty-component">
                <div fxLayout="column" fxFlex="20%">
                  H
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Huvudhjälpmedel
                </div>
              </div>
              <div class="warranty-component-type">
                <div fxLayout="column" fxFlex="20%">
                  T
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Tillbehör
                </div>
              </div>
              <div class="warranty-component-type">
                <div fxLayout="column" fxFlex="20%">
                  R
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Reservdel
                </div>
              </div>
              <div class="warranty-component-type">
                <div fxLayout="column" fxFlex="20%">
                  I
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Inställning
                </div>
              </div>
              <div class="warranty-component-type last-warranty-component">
                <div fxLayout="column" fxFlex="20%">
                  Tj
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Tjänst
                </div>
              </div>
            </div>

            <div fxLayout="column" fxFlex="20%" class="column-content border-component not-last">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title tooltip-small">
                <h2>LEVERANSTID *</h2>
                <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.AGREEMENT_DELIVERY_TIME_HEADER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
              <div class="component first-component tooltip-small">
                Arbetsdagar
                <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.AGREEMENT_DELIVERY_TIME}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.deliveryTimeH"
                         [disabled]="!editMode || !hasPermissionToCreateAgreement">
                </mat-form-field>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.deliveryTimeT"
                         [disabled]="!editMode || !hasPermissionToCreateAgreement">
                </mat-form-field>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.deliveryTimeR"
                         [disabled]="!editMode || !hasPermissionToCreateAgreement">
                </mat-form-field>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.deliveryTimeI"
                         [disabled]="!editMode || !hasPermissionToCreateAgreement">
                </mat-form-field>
              </div>
              <div class="component last-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.deliveryTimeTJ"
                         [disabled]="!editMode || !hasPermissionToCreateAgreement">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="column" fxFlex="65%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>GARANTI</h2>
              </div>
              <div fxLayout="row" class="component">
                <div fxLayout="column" fxFlex="15%">
                  <div class="component first-component tooltip-small">
                    Antal
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_WARRANTY_AMOUNT}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.warrantyQuantityH"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.warrantyQuantityT"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.warrantyQuantityR"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.warrantyQuantityI"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="agreement.warrantyQuantityTJ"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement">
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxFlex="25%">
                  <div class="component first-component tooltip-small">
                    Enhet
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_WARRANTY_UNIT}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityHUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined">
                        </mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityTUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityRUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityIUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityTJUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxFlex="25%">
                  <div class="component first-component tooltip-small">
                    Gäller från
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_WARRANTY_VALID_FROM}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromH"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromT"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromR"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromI"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromTJ"
                                  [disabled]="!editMode || !hasPermissionToCreateAgreement">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxFlex="35%">
                  <div class="component first-component tooltip-small">
                    Garantivillkor
                    <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                              matTooltip="{{helpTexts.values.AGREEMENT_WARRANTY_TERMS}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && agreement.warrantyTermsH && agreement.warrantyTermsH.length > 8 ? agreement.warrantyTermsH : ''">
                      <input autocomplete="off" matInput [(ngModel)]="agreement.warrantyTermsH"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement" class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && agreement.warrantyTermsT && agreement.warrantyTermsT.length > 8 ? agreement.warrantyTermsT : ''">
                      <input autocomplete="off" matInput [(ngModel)]="agreement.warrantyTermsT"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement" class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && agreement.warrantyTermsR && agreement.warrantyTermsR.length > 8 ? agreement.warrantyTermsR : ''">
                      <input autocomplete="off" matInput [(ngModel)]="agreement.warrantyTermsR"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement" class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && agreement.warrantyTermsI && agreement.warrantyTermsI.length > 8 ? agreement.warrantyTermsI : ''">
                      <input autocomplete="off" matInput [(ngModel)]="agreement.warrantyTermsI"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement" class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="last-warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && agreement.warrantyTermsTJ && agreement.warrantyTermsTJ.length > 8 ? agreement.warrantyTermsTJ : ''">
                      <input autocomplete="off" matInput [(ngModel)]="agreement.warrantyTermsTJ"
                             [disabled]="!editMode || !hasPermissionToCreateAgreement" class="warranty-terms">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Prislistor" *ngIf="agreementId" [disabled]="editMode">
        <div class="tab-content">
          <div fxLayout="row" class="content">
            <div fxLayout="column" fxFlex="100%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>PRISLISTOR</h2>
                <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.PRICELIST_HEADER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
              <div fxLayout="row" class="component">
                <div fxLayout="column" fxFlex="20%">
                  <div class="first-component">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                      <h3>Prislistenummer *</h3>
                      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                                matTooltip="{{helpTexts.values.PRICELIST_NUMBER}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="20%">
                  <div class="first-component">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                      <h3>Gäller från *</h3>
                      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                                matTooltip="{{helpTexts.values.PRICELIST_VALID_FROM}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="20%">
                  <div class="first-component">
                    <h3>Status</h3>
                  </div>
                </div>
              </div>
              <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
              <div *ngIf="!loading" class="dynamic-component">
                <div *ngIf="(agreement.status === 'FUTURE' || agreement.status === 'CURRENT')">
                  <div class="pricelist-row" fxLayout="row" *ngFor="let pricelist of pricelists"
                       routerLink="/organization/{{organizationId}}/agreement/{{agreementId}}/pricelist/{{pricelist.id}}/handle">
                    <div fxLayout="column" fxFlex="20%">
                      {{pricelist.number}}
                    </div>
                    <div fxLayout="column" fxFlex="20%">
                      {{pricelist.validFrom | date: 'yyyy-MM-dd'}}
                    </div>
                    <div fxLayout="column" fxFlex="5%">
                      {{pricelist.status | formatAgreementStatus}}
                    </div>
                    <div fxLayout="column" fxFlex="5%">
                      <!--button *ngIf="hasPermissionToUpdatePricelist &&
                        (pricelist.status === 'FUTURE' ||
                        (pricelist.status === 'CURRENT' && !pricelist.hasPricelistRows))"
                              mat-icon-button [matMenuTriggerFor]="inactivationMenu"
                              (click)="$event.preventDefault();$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                      </button-->
                      <button *ngIf="hasPermissionToUpdatePricelist &&
                        (agreement.status === 'FUTURE' ||
                        (agreement.status === 'CURRENT' && !pricelist.hasPricelistRows))"
                              mat-icon-button [matMenuTriggerFor]="inactivationMenu"
                              (click)="$event.preventDefault();$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #inactivationMenu="matMenu">
                        <button (click)="openUpdatePricelistDialog(pricelist)" mat-menu-item>
                          <mat-icon color="warn">edit</mat-icon>
                          <span>Editera</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </div>

                <div *ngIf="(agreement.status === 'DISCONTINUED')">
                  <div class="pricelist-row" fxLayout="row" *ngFor="let pricelist of pricelists"
                       routerLink="/organization/{{organizationId}}/agreement/{{agreementId}}/pricelist/{{pricelist.id}}/handle">
                    <div fxLayout="column" fxFlex="20%">
                      {{pricelist.number}}
                    </div>
                    <div fxLayout="column" fxFlex="20%">
                      {{pricelist.validFrom | date: 'yyyy-MM-dd'}}
                    </div>
                    <div fxLayout="column" fxFlex="5%">
                      {{pricelist.status | formatAgreementStatus}}
                    </div>
                    <div fxLayout="column" fxFlex="5%">
                      <button *ngIf="hasPermissionToUpdatePricelist &&
                        (pricelist.status === 'FUTURE' ||
                        (pricelist.status === 'CURRENT' && !pricelist.hasPricelistRows))"
                              mat-icon-button [matMenuTriggerFor]="inactivationMenu"
                              (click)="$event.preventDefault();$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #inactivationMenu="matMenu">
                        <button (click)="openUpdatePricelistDialog(pricelist)" mat-menu-item>
                          <mat-icon color="warn">edit</mat-icon>
                          <span>Editera</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </div>

              </div>
              <div *ngIf="hasPermissionToCreatePricelist &&
                      (agreement.status === 'FUTURE' ||
                      agreement.status === 'CURRENT')" fxLayout="row" class="component">
                <div fxFlex="40%" fxLayoutAlign="end center">
                  <button mat-button class="open-add-dialog" (click)="openCreatePricelistDialog()">
                    LÄGG TILL
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
         class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button *ngIf="!saving && editMode && hasPermissionToCreateAgreement"
                mat-raised-button
                color="primary" (click)="saveAgreement()">SPARA
          <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                    matTooltip="{{helpTexts.values.AGREEMENT_SAVE}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </button>
        <a *ngIf="!saving && agreementId" mat-button (click)="cancel()">AVBRYT</a>
        <a *ngIf="!saving && !agreementId" mat-button (click)="goBack()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

  </div>
</div>
