<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
    <div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <h1 *ngIf="generalPricelistId">{{generalPricelist.generalPricelistNumber}}</h1>
          <h1 *ngIf="!generalPricelistId">Ny generell prislista</h1>
          <mat-icon class="tooltip"
                    matTooltip="{{helpTexts.values.GENERAL_PRICELIST_INFO}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>
      </div>
      <div
        *ngIf="!tabIndex && generalPricelistId && !editMode && showSaveBar && (hasPermissionToUpdateGeneralPricelist)"
        fxFlex="2%"
        fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>
    </div>

    <mat-tab-group class="tab-group" (selectedTabChange)="onTabSelection($event)">
      <mat-tab label="Generell prislista">
        <div class="tab-content">
          <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
            <div fxLayout="column" fxFlex="50%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>GENERELL PRISLISTA</h2>
              </div>

              <div fxLayout="row" class="component first-component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput required autofocus [formControl]="numberFormControl">
                  <mat-placeholder class="icon-label">Avtalsnummer
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.GENERAL_PRICELIST_NUMBER}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                  <mat-error *ngIf="numberError">{{numberError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [formControl]="nameFormControl">
                  <mat-placeholder>Avtalsnamn</mat-placeholder>
                  <mat-error *ngIf="nameError">{{nameError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="supplier" disabled>
                  <mat-placeholder class="icon-label">Leverantör
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.GENERAL_PRICELIST_SUPPLIER}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                </mat-form-field>
              </div>

              <div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerFrom" required
                           [formControl]="validFromFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                    <mat-placeholder class="icon-label">Giltig from
                      <mat-icon class="tooltip"
                                matTooltip="{{helpTexts.values.GENERAL_PRICELIST_VALID_FROM}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </mat-placeholder>
                    <mat-error *ngIf="validFromError">{{validFromError}}</mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerTo" required
                           [formControl]="validToFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                    <mat-placeholder class="icon-label">Giltig tom
                      <mat-icon class="tooltip"
                                matTooltip="{{helpTexts.values.GENERAL_PRICELIST_VALID_TO}}"
                                [matTooltipShowDelay]="500">info_outline
                      </mat-icon>
                    </mat-placeholder>
                    <mat-error *ngIf="validToError">{{validToError}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px" class="column-content">

              <div class="border-component">
                <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                  <h2>AVTALSKONTAKT LEVERANTÖR</h2>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.GENERAL_PRICELIST_SUPPLIER_CONTACT}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>

                <div *ngIf="!supplierContacts || !supplierContacts.length" class="component first-component>">
                  <p>Vald leverantör saknar avtalskontakter</p>
                </div>
                <div *ngFor="let contact of supplierContacts" fxLayout="row" class="dynamic-component">
                  <div fxLayout="column" fxFlex="50%">
                    {{contact.firstName}} {{contact.lastName}}
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <div>{{contact.electronicAddress.email}}</div>
                    <div>{{contact.electronicAddress.telephone}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}">
            <div fxLayout="column" fxFlex="15%" class="column-content border-component not-last">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>ARTIKELTYP</h2>
              </div>

              <div class="first-warranty-component">
                <div fxLayout="column" fxFlex="20%">
                  H
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Huvudhjälpmedel
                </div>
              </div>
              <div class="warranty-component-type">
                <div fxLayout="column" fxFlex="20%">
                  T
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Tillbehör
                </div>
              </div>
              <div class="warranty-component-type">
                <div fxLayout="column" fxFlex="20%">
                  R
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Reservdel
                </div>
              </div>
              <div class="warranty-component-type">
                <div fxLayout="column" fxFlex="20%">
                  I
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Inställning
                </div>
              </div>
              <div class="warranty-component-type last-warranty-component">
                <div fxLayout="column" fxFlex="20%">
                  Tj
                </div>
                <div fxLayout="column" fxFlex="80%">
                  Tjänst
                </div>
              </div>
            </div>

            <div fxLayout="column" fxFlex="20%" class="column-content border-component not-last">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>LEVERANSTID *</h2>
              </div>
              <div class="component first-component tooltip-small">
                Arbetsdagar
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.GENERAL_PRICELIST_DELIVERY_TIME}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.deliveryTimeH"
                         [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                </mat-form-field>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.deliveryTimeT"
                         [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                </mat-form-field>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.deliveryTimeR"
                         [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                </mat-form-field>
              </div>
              <div class="warranty-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.deliveryTimeI"
                         [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                </mat-form-field>
              </div>
              <div class="component last-component">
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.deliveryTimeTJ"
                         [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="column" fxFlex="65%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>GARANTI</h2>
              </div>
              <div fxLayout="row" class="component">
                <div fxLayout="column" fxFlex="15%">
                  <div class="component first-component tooltip-small">
                    Antal
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_AMOUNT}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.warrantyQuantityH"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.warrantyQuantityT"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.warrantyQuantityR"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.warrantyQuantityI"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <input autocomplete="off" matInput type="number" [(ngModel)]="generalPricelist.warrantyQuantityTJ"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxFlex="25%">
                  <div class="component first-component tooltip-small">
                    Enhet
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_UNIT}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityHUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityTUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityRUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityIUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyQuantityTJUnit"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let unit of units" [value]="unit">
                          {{ unit.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxFlex="25%">
                  <div class="component first-component tooltip-small">
                    Gäller från
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_VALID_FROM}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromH"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromT"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromR"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromI"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedWarrantyValidFromTJ"
                                  [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                          {{ validFrom.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxFlex="35%">
                  <div class="component first-component tooltip-small">
                    Garantivillkor
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.GENERAL_PRICELIST_WARRANTY_TERMS}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && generalPricelist.warrantyTermsH && generalPricelist.warrantyTermsH.length > 8 ? generalPricelist.warrantyTermsH : ''">
                      <input autocomplete="off" matInput [(ngModel)]="generalPricelist.warrantyTermsH"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
                             class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && generalPricelist.warrantyTermsT && generalPricelist.warrantyTermsT.length > 8 ? generalPricelist.warrantyTermsT : ''">
                      <input autocomplete="off" matInput [(ngModel)]="generalPricelist.warrantyTermsT"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
                             class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && generalPricelist.warrantyTermsR && generalPricelist.warrantyTermsR.length > 8 ? generalPricelist.warrantyTermsR : ''">
                      <input autocomplete="off" matInput [(ngModel)]="generalPricelist.warrantyTermsR"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
                             class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && generalPricelist.warrantyTermsI && generalPricelist.warrantyTermsI.length > 8 ? generalPricelist.warrantyTermsI : ''">
                      <input autocomplete="off" matInput [(ngModel)]="generalPricelist.warrantyTermsI"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
                             class="warranty-terms">
                    </mat-form-field>
                  </div>
                  <div class="last-warranty-component">
                    <mat-form-field
                      [matTooltip]="!editMode && generalPricelist.warrantyTermsTJ && generalPricelist.warrantyTermsTJ.length > 8 ? generalPricelist.warrantyTermsTJ : ''">
                      <input autocomplete="off" matInput [(ngModel)]="generalPricelist.warrantyTermsTJ"
                             [disabled]="!editMode || !hasPermissionToCreateGeneralPricelist"
                             class="warranty-terms">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Prislistor" *ngIf="generalPricelistId" [disabled]="editMode">
        <div class="tab-content">
          <div fxLayout="row" class="content">
            <div fxLayout="column" fxFlex="100%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>PRISLISTOR</h2>
              </div>
              <div fxLayout="row" class="component">
                <div fxLayout="column" fxFlex="20%">
                  <div class="first-component">
                    <h3>Prislistenummer *</h3>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="20%">
                  <div class="first-component">
                    <h3>Gäller från *</h3>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="20%">
                  <div class="first-component">
                    <h3>Status</h3>
                  </div>
                </div>
              </div>
              <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
              <div *ngIf="!loading" class="dynamic-component">
                <div class="pricelist-row" fxLayout="row" *ngFor="let pricelist of generalPricelistPricelists"
                     routerLink="/organization/{{organizationId}}/generalpricelist/{{generalPricelistId}}/pricelist/{{pricelist.id}}">
                  <div fxLayout="column" fxFlex="20%">
                    {{pricelist.number}}
                  </div>
                  <div fxLayout="column" fxFlex="20%">
                    {{pricelist.validFrom | date: 'yyyy-MM-dd'}}
                  </div>
                  <div fxLayout="column" fxFlex="5%">
                    {{pricelist.status | formatAgreementStatus}}
                  </div>
                  <div fxLayout="column" fxFlex="5%">
                    <button
                      *ngIf="hasPermissionToUpdateGeneralPricelistPricelist &&
                      (pricelist.status === 'FUTURE' ||
                      (pricelist.status === 'CURRENT' && !pricelist.hasPricelistRows))"
                      mat-icon-button [matMenuTriggerFor]="inactivationMenu"
                      (click)="$event.preventDefault();$event.stopPropagation()">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #inactivationMenu="matMenu">
                      <button (click)="openUpdatePricelistDialog(pricelist)" mat-menu-item>
                        <mat-icon color="warn">edit</mat-icon>
                        <span>Editera</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
              <div *ngIf="hasPermissionToCreateGeneralPricelistPricelist" fxLayout="row" class="component">
                <div fxFlex="40%" fxLayoutAlign="end center">
                  <button mat-button class="open-add-dialog" (click)="openCreatePricelistDialog()">
                    LÄGG TILL
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="showSaveBar && editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
         class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button
          *ngIf="!saving && editMode && (hasPermissionToCreateGeneralPricelist || hasPermissionToUpdateGeneralPricelist)"
          mat-raised-button
          color="primary" (click)="saveGeneralPricelist()">SPARA
          <mat-icon
            class="tooltip"
            matTooltip="{{helpTexts.values.GENERAL_PRICELIST_SAVE}}"
            [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </button>
        <a *ngIf="!saving &&generalPricelistId" mat-button (click)="cancel()">AVBRYT</a>
        <a *ngIf="!saving && !generalPricelistId" mat-button (click)="goBack()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

  </div>
</div>
