/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
.validity-dates {
  padding: 0 20px 20px 20px;

  .mat-form-field {
    width: 95%;
  }
}

.dynamic-component {
  padding: 20px 20px 20px 20px;

  .remove {
    cursor: pointer;
  }
}

.open-add-dialog {
  color: cornflowerblue;
}

.not-last {
  border-right: none;
}

.warranty-component {
  padding: 0 20px 0 20px;

  .mat-form-field {
    margin-bottom: -1.25em;
  }

  .warranty-terms {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.first-warranty-component {
  padding: 75px 20px 25px 20px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.last-warranty-component {
  padding: 0 20px 50px 20px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  .warranty-terms {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.warranty-component-type {
  padding: 0 20px 25px 20px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.last-content {
  padding-bottom: 75px;
}

.pricelist-row {
  cursor: pointer;

  .mat-icon-button {
    margin: -10px;
  }
}

.tooltip-small {
  .mat-icon {
    font-size: 16px;
  }
}
