<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök på namn eller epost</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="users.length !== 1">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="users.length === 1">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
      </div>

    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%" fxLayoutGap="10px">
      <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
      <div *ngIf="!loading && users.length" fxFlex="100%" class="container mat-elevation-z1">

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"></mat-header-cell>
            <mat-cell class="checkbox-cell" *matCellDef="let element" fxFlex="10%">
              <mat-checkbox (change)="onChecked(element, $event)"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="namn">
            <mat-header-cell *matHeaderCellDef fxFlex="35%"> Namn</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="35%"> {{element.firstName}} {{element.lastName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="epost">
            <mat-header-cell *matHeaderCellDef fxFlex="35%"> Epost</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="35%"> {{element.electronicAddress.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="mobilnummer">
            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Mobilnummer</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.electronicAddress.telephone}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>

        </mat-table>
        <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
          <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
          <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
          </div>
          <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button mat-button (click)="done()" [disabled]="!usersToAdd.length">
      LÄGG TILL MARKERADE KONTAKTER
    </button>
    <button mat-button mat-dialog-close>AVBRYT</button>
  </mat-dialog-actions>
</div>
