<!--
* Copyright (C) 2019 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded" class="content">Laddar...</div>
  <div *ngIf="loaded">
    <div fxLayout="row" class="navigation-header">
      <div  fxFlex="95%" fxLayout="row" fxLayoutAlign="start center">
        <h1>Utbud</h1>
        <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                  matTooltip="{{helpTexts.values.ASSORTMENT_HEADER}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </div>
      <div *ngIf="1 == 1" fxLayoutAlign="start center" fxFlex="3%">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                  class="tooltip"
                                                  matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                  [matTooltipShowDelay]="500">info_outline
          </mat-icon></span>
        </button>
        <mat-menu #menu="matMenu" class="wide-mat-menu">
          <button mat-menu-item (click)="exportSearchResults()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Exportera sökresultat till Excel-fil</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" class="content">
      <div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
        <div class="container mat-elevation-z1">
          <mat-form-field>
            <input autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
            <mat-placeholder>Sök på utbudets namn</mat-placeholder>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="50%" class="border-component">
            <div class="component first-component">
              <mat-checkbox [(ngModel)]="filterCurrent" (change)="onFilterChange()">Aktuellt</mat-checkbox>
            </div>
            <div class="component">
              <mat-checkbox [(ngModel)]="filterFuture" (change)="onFilterChange()">Framtida</mat-checkbox>
            </div>
            <div class="component last-component">
              <mat-checkbox [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgånget</mat-checkbox>
            </div>
          </div>
          <div *ngIf="!isSuperAdmin" fxFlex="50%" class="border-component">
            <mat-radio-group [(ngModel)]="include" (change)="onFilterChange()">
              <div class="component first-component">
                <mat-radio-button value="MINE">Mina utbud
                  <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                            matTooltip="{{helpTexts.values.ASSORTMENT_FILTER_MY_ASSORTMENTS}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </mat-radio-button>
              </div>
              <div class="component">
                <mat-radio-button value="ALL">Alla utbud</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" class="content">
      <div fxFlex="80%">
        <div fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="assortments.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="assortments.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
        </div>
        <button mat-button style="background-color: #118582; color: white; margin-top:10px;" (click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik</button>
      </div>
      <div *ngIf="hasPermissionToCreateAssortment" fxFlex="20%">
        <button mat-raised-button color="primary" routerLink="handle">SKAPA NYTT UTBUD</button>
      </div>
    </div>

    <div fxLayout="row" class="content">
      <div fxFlex="100%">
        <div *ngIf="loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="assortments.length && !loading" class="container mat-elevation-z1">

          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="namn">
              <mat-header-cell *matHeaderCellDef fxFlex="20%"> Namn</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="organisation">
              <mat-header-cell *matHeaderCellDef fxFlex="20%"> Organisation</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.customer.organizationName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="län">
              <mat-header-cell *matHeaderCellDef fxFlex="20%"> Län</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="20%"><span
                *ngIf="element.county">{{element.county.name}}</span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="giltigt från">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt från</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="giltigt till">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt till</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="utbudsansvarig">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Utbudsansvarig</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="10%">
                <div fxLayout="column">
                  <div *ngFor="let manager of element.managers">{{manager.firstName}} {{manager.lastName}}</div>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="anchor">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a href="organization/{{element.customer.id}}/assortment/{{element.id}}/handle"></a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <div *ngIf="searchTotal> offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
            <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
            <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
            </div>
            <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
