<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
    <div fxLayout="row" class="content" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <h1>Min profil</h1>
      </div>
      <div *ngIf="!editMode" fxFlex="2%"
           fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
      <div fxLayout="column" fxFlex="50%" class="column-content border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>ANVÄNDARUPPGIFTER</h2>
          <mat-icon class="tooltip"
                    matTooltip="{{helpTexts.values.PROFILE_DATA_HEADER}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>

        <div fxLayout="row" class="component first-component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput required disabled [(ngModel)]="organization.organizationName">
            <mat-placeholder>Organisation</mat-placeholder>
          </mat-form-field>
        </div>

        <div *ngIf="organization.organizationType === 'CUSTOMER'" fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <textarea matInput disabled matTextareaAutosize [(ngModel)]="businessLevels">
            </textarea>
            <mat-placeholder class="icon-label">Begränsad till verksamhetsområde
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PROFILE_BUSINESSLEVEL}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput required disabled [(ngModel)]="userProfile.username">
            <mat-placeholder>Användarnamn</mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput required disabled [(ngModel)]="userProfile.firstName">
            <mat-placeholder>Förnamn</mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput required disabled [(ngModel)]="userProfile.lastName">
            <mat-placeholder>Efternamn</mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput disabled [(ngModel)]="userProfile.title">
            <mat-placeholder>Titel</mat-placeholder>
          </mat-form-field>
        </div>

        <div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
          <div fxFlex="50%">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [matDatepicker]="pickerFrom" disabled required
                     [(ngModel)]="validFrom">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
              <mat-placeholder>Giltig from</mat-placeholder>
            </mat-form-field>
          </div>

          <div fxFlex="50%">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [matDatepicker]="pickerTo" disabled [(ngModel)]="validTo">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
              <mat-placeholder class="icon-label">Giltig tom
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PROFILE_VALID_TO}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
        <div fxLayout="column" class="column-content border-component">

          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>KONTAKTUPPGIFTER</h2>
            <mat-icon class="tooltip"
                      matTooltip="{{helpTexts.values.PROFILE_CONTACT_INFO_HEADER}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>

          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [(ngModel)]="userProfile.electronicAddress.telephone" [disabled]="!editMode">
              <mat-placeholder>Telefonnummer</mat-placeholder>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [(ngModel)]="userProfile.electronicAddress.mobile" [disabled]="!editMode">
              <mat-placeholder>Mobilnummer</mat-placeholder>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput required [formControl]="emailFormControl">
              <mat-placeholder>E-post</mat-placeholder>
              <mat-icon *ngIf="editMode" matSuffix (click)="toggleEditEmailMode()" class="edit-mode-toggle">edit
              </mat-icon>
              <mat-error *ngIf="emailError">{{emailError}}</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="editEmailMode" fxLayout="row" class="component last-component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput required onpaste="return false;"
                     [formControl]="repeatedEmailFormControl">
              <mat-placeholder>Repetera E-post</mat-placeholder>
              <mat-icon matSuffix (click)="toggleEditEmailMode()" class="edit-mode-toggle">cancel</mat-icon>
              <mat-error *ngIf="repeatedEmailError">{{repeatedEmailError}}</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="column" class="column-content border-component">
          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>Behörighet ({{organization.organizationType | formatOrganizationType}})</h2>
            <mat-icon class="tooltip"
                      matTooltip="{{helpTexts.values.PROFILE_PERMISSIONS}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>

          <div fxLayout="row" class="component first-component">
          <span>Alla ändringar av behörigheter sköts av en lokal administratör<span *ngIf="adminString">, i ditt fall {{adminString}}</span>.
            Du kan själv uppdatera dina personliga inställningar via ikonen längst upp till höger.</span>
          </div>

          <div fxLayout="column" class="component last-component">
            <div *ngFor="let role of userProfile.userEngagements[0].roles" fxLayout="row">
              <mat-checkbox [checked]="true" [disabled]="true">
                {{role.description}}
              </mat-checkbox>
            </div>
            <div fxLayout="row">
              <p class="gray-text">{{helpTexts.values.PROFILE_CONSENT_GIVEN}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button *ngIf="!saving" mat-raised-button color="primary" (click)="saveProfile()">SPARA
        </button>
        <a *ngIf="!saving" mat-button (click)="cancel()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

  </div>
</div>
