<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div class="container">
        <mat-form-field>
          <input autocomplete="off" matInput required [formControl]="numberFormControl">
          <mat-placeholder class="icon-label">Prislistenummer
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.PRICELIST_NUMBER}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </mat-placeholder>
          <mat-error *ngIf="numberError">{{numberError}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div class="container">
        <mat-form-field>
          <input autocomplete="off" matInput [matDatepicker]="pickerFrom" required [formControl]="validFromFormControl">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
          <mat-placeholder class="icon-label">Gäller från
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.PRICELIST_VALID_FROM}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </mat-placeholder>
          <mat-error *ngIf="validFromError">{{validFromError}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button *ngIf="!saving" mat-button (click)="done()"
            [disabled]="!numberFormControl.value || !validFromFormControl.value">
      SPARA
    </button>
    <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </mat-dialog-actions>
</div>
