/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.menu-label {
  margin-left: -5px;
}

.page-wrapper {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  .mat-form-field {
    width: 80%;
  }

  .breadcrumb {
    cursor: pointer;
  }
}

.navigation-header {
  margin: 0 20px 0 20px;

  h1 {
    margin-bottom: 0;
  }
}

.navigation {
  margin: 0 20px 0 20px;

  h1 {
    margin-bottom: 0;
  }

  span {
    cursor: pointer;
    color: cornflowerblue;
    margin-bottom: 20px;
    white-space: pre;
  }

  .navigation-last {
    cursor: auto;
  }
}

.border-component {
  border: 1px solid;

  .component {
    padding: 0 20px 0 20px;
    margin-bottom: 5px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .first-component {
    padding-top: 20px;
  }

  .last-component {
    padding-bottom: 20px;
  }

  .article-type-component {
    padding-left: 40px;
  }

  .mat-expansion-panel {
    box-shadow: none !important;

    .mat-expansion-panel-header {
      padding-left: 0;
      background: rgba(17, 133, 130, 0.3) !important;
    }

    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

.component-title {
  background-color: rgba(17, 133, 130, 0.3);

  h2 {
    margin: 10px;
  }
}

.mat-raised-button {
  border-radius: 40px !important;
  font-weight: 700;
}

// Hide spin button from inputs of type 'number'
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.button-container {
  height: 60%;

  button {
    margin-right: 15px;
  }
}

.table-lg {
  min-width: 1440px;
}

.table-md {
  min-width: 960px;
}

.mat-table {
  .mat-header-row, .mat-row {
    border: 0;
    min-height: 34px;
  }

  .mat-row :hover {
    cursor: pointer;
  }

  mat-row:nth-child(even) {
    background-color: rgba(17, 133, 130, 0.07);
  }

  .mat-cell {
    font-size: 14px;
    overflow-wrap: break-word !important;
    white-space: normal !important;
    word-break: break-word !important;

    .mat-form-field {
      margin: -1.25em 0;
    }
  }
}

.category-specific-placeholder {
  color: rgba(0, 0, 0, 0.44);
}

.paginator {
  margin-top: 20px;

  .paginator-nav {
    margin: 10px;
    cursor: pointer;
  }

  .current-page {
    font-weight: bold;
  }
}

.tab-group {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 100px;

  .mat-tab-label-active {
    background-color: rgba(17, 133, 130, 0.3);
    outline: 0;
    opacity: 1;
  }

  .tab-content {
    padding: 20px 0;
  }
}

.savebar-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #FFFFFF;
  border-top: 1px solid;

  a {
    width: 10%;
  }
}

.edit-mode-toggle {
  cursor: pointer;
}

.tooltip {
  cursor: default;
}

.long-tooltip {
  max-width: 800px !important;
}

.icon-label {
  pointer-events: auto;
}

.mat-tooltip {
  white-space: pre-line;
  font-size: 14px;
}

.mat-form-field-disabled .mat-form-field-underline {
  opacity: 0;
}

.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  opacity: 0;
}

.mat-form-field .mat-icon-button:disabled {
  opacity: 0;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-form-field-label {
  color: rgba(0, 0, 0, 0.60) !important;
}

.mat-select-value {
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-select-disabled .mat-select-value {
  color: rgba(0, 0, 0, 0.87) !important;
}

.cdk-overlay-pane {
  // IE 11 fix
  .mat-select-panel {
    flex: 1 0 auto;
  }
}

.mat-menu-panel.wide-mat-menu {
  max-width: none !important;
}
