/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
@import '~@angular/material/theming';

$primary-color: #118582;
$secondary-color: #ED8B00;

$custom-typography: mat-typography-config(
  $font-family: '"PT Sans", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

h1 {
  font-size: 24px;
  color: #255453;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-size: 16px;
  color: #255453;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-size: 16px;
  color: #255453;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

h4 {
  font-size: 12px;
  color: #255453;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

$hjmtj-palette: (
  50: #118582,
  100: #118582,
  200: #118582,
  300: #118582,
  400: #118582,
  500: #118582,
  600: #118582,
  700: #118582,
  800: #118582,
  900: #118582,
  A100: #118582,
  A200: #118582,
  A400: #118582,
  A700: #118582,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$hjmtj-primary: mat-palette($hjmtj-palette);
$hjmtj-accent: mat-palette($hjmtj-palette, A100, A200, A400);
$hjmtj-warn: mat-palette($mat-red);

$hjmtj-theme: mat-light-theme($hjmtj-primary, $hjmtj-accent, $hjmtj-warn);

@include angular-material-theme($hjmtj-theme);
