<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<h1 mat-dialog-title>Välj kolumner</h1>

<mat-dialog-content>
  <div fxLayout="column">
    <mat-checkbox [checked]="true" [disabled]="true">Typ</mat-checkbox>
    <mat-checkbox [checked]="true" [disabled]="true">Benämning</mat-checkbox>
    <mat-checkbox [checked]="true" [disabled]="true">Produkt/artnr</mat-checkbox>
    <mat-checkbox>Leverantör</mat-checkbox>
    <mat-checkbox>Kategori</mat-checkbox>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-dialog-actions>
    <button mat-button (click)="done()">
      KLAR
    </button>
    <button mat-button mat-dialog-close>AVBRYT</button>
  </mat-dialog-actions>
</div>
