<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="component first-component">
    <mat-checkbox [checked]="true" [disabled]="true">Artikeln utgår
    </mat-checkbox>
  </div>
  <div fxLayout="row" class="component">
    <mat-form-field>
      <input autocomplete="off" matInput [matDatepicker]="picker" required [(ngModel)]="replacementDate"
             [disabled]="data.article.status === 'DISCONTINUED'">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-placeholder class="icon-label">Artikeln utgår datum
        <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                  matTooltip="{{helpTexts.values.ARTICLE_DISCONTINUED_SET_DATE}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
    </mat-form-field>
  </div>
  <div fxLayout="column" class="component">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-checkbox [(ngModel)]="data.article.inactivateRowsOnReplacement"
                      [disabled]="data.article.status === 'DISCONTINUED'">
          Inaktivera prislisterader i aktuella och framtida prislistor (inklusive generell prislista) där artikeln
          förekommer. Notera att det då kommer skickas en begäran om inaktivering av prislisterad till respektive kund
          som kunden får godkänna/avböja.
        </mat-checkbox>
        <mat-radio-group [(ngModel)]="replaced">
          <div fxLayout="row">
            <mat-radio-button [value]="false">
              Ersättningsartikel saknas
            </mat-radio-button>
          </div>
          <div fxLayout="row" class="replacement">
            <mat-radio-button [value]="true">
              Artikeln ersätts av
            </mat-radio-button>
            <div *ngIf="replaced" fxLayout="column">
              <div *ngFor="let article of selection.selected">
                {{article.number}} - {{article.name}}
              </div>
            </div>
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.ARTICLE_DISCONTINUED_SET_REPLACEMENT_ARTICLE}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>
        </mat-radio-group>
      </div>

    </div>

    <div *ngIf="replaced" fxFlex="80%" class="container mat-elevation-z1">
      <mat-form-field>
        <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
        <mat-placeholder>Sök artiklar</mat-placeholder>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="!loading && replaced && articles.length" fxFlex="80%" class="container mat-elevation-z1">

      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="pageSelection.hasValue() && isAllSelected()"
                          [indeterminate]="pageSelection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? toggleSelections(element) : null"
                          [checked]="pageSelection.isSelected(element)"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="typ">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="benämning">
          <mat-header-cell *matHeaderCellDef fxFlex="50%"> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="50%"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artikelnummer">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="15%"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.status | formatProductStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kategori">
          <mat-header-cell *matHeaderCellDef fxFlex="15%"> Kategori</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.code}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </mat-table>
      <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
        <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
        <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
        </div>
        <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
      </div>
    </div>
  </div>
</mat-dialog-content>

<div *ngIf="!loading" fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button *ngIf="!saving" mat-raised-button color="primary" (click)="done()"
            [disabled]="!replacementDate || (replaced && !selection.selected.length)">
      SPARA
    </button>
    <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </mat-dialog-actions>
</div>
