<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="image-container">
  <img src="../../assets/bild-hjalpmedelsjansten-1920-480.jpg" class="responsive">
</div>

<div fxLayout="row" class="content">
  <div fxFlex="100%">

    <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
      <div fxLayout="column" fxFlex="50%" class="column-content border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>VÄLKOMMEN TILL HJÄLPMEDELSTJÄNSTEN</h2>
        </div>

        <div class="component first-component last-component">
          <p>Du är nu inloggad i Hjälpmedelstjänsten som är en nationell informationsdatabas för hjälpmedel.</p>
          <p>Här finns hjälpmedel som kategoriseras enligt standarden ISO 9999 Hjälpmedel för personer med
            funktionsnedsättning.</p>
          <p>Alla användare kan söka på samtliga artiklar och produkter (undantag finns för så kallade kundunika
            produkter/artiklar).</p>
          <p>Till din hjälp finns en Handbok som du hittar under ”gubben” längst upp till höger.</p>
          <p>Hjälpmedelstjänsten är behörighetsstyrd, vilket betyder att din behörighet styr vad du ser och kan göra.
            Navigera dig fram via menyvalsrubrikerna i den översta, gröna menyn.</p>
          <p>Din lokala administratör hanterar användare och behörigheter. Under Min profil (som du hittar vid den gröna
            ”gubben” längst upp till höger) framgår vem/vilka som är din lokala administratör.</p>
          <p>Som leverantör kan du registrera dina produkter/artiklar i tjänsten. Om du har avtal med kunder hanterar ni
            gemensamt era avtal i tjänsten. Det finns möjlighet att hantera en generell prislista för leverantörer.</p>
          <p>Som kund kan du hantera inköpsavtal och utbud i tjänsten. Kunder kan få en så kallad exportfil med artikel-
            och
            avtalsinformation som kan importeras i lokala förskrivarsystem.</p>
        </div>

      </div>

      <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
        <div fxLayout="column" fxFlex="100%" class="column-content border-component">

          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>AKTUELL INFORMATION</h2>
          </div>

          <div *ngIf="!dynamicTextLoaded" class="content">Laddar...</div>
          <div *ngIf="dynamicTextLoaded" fxLayout="row" class="component first-component">

            <mat-form-field floatLabel="always">
              <textarea rows="16" autocomplete="off" matInput disabled [(ngModel)]="dynamicText.dynamicText"></textarea>
            </mat-form-field>

          </div>

          <div fxLayout="row" class="component">
            Prenumerera gärna på nyhetsbrev om Hjälpmedelstjänsten:
          </div>

          <div fxLayout="row" class="component last-component">
            <a href="https://www.inera.se/kundservice/formular/prenumerationer/formular-prenumeration-nyhetsbrev"
               target="_blank">https://www.inera.se/kundservice/formular/prenumerationer/formular-prenumeration-nyhetsbrev</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
