<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <h1>Hantera prislista</h1>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="10px" class="content">
    <div fxFlex="100%" class="component first-component">
      <mat-form-field *ngIf="!loadingAgreements" floatLabel="always">
        <mat-select [(ngModel)]="selectedAgreement"
                    (selectionChange)="onAgreementSelection()">
          <mat-option *ngFor="let agreement of agreements" [value]="agreement.id">
            {{agreement.agreementNumber}} <span *ngIf="agreement.agreementName"> - {{agreement.agreementName}}</span>
          </mat-option>
        </mat-select>
        <mat-placeholder>Avtal</mat-placeholder>
      </mat-form-field>
      <mat-progress-spinner *ngIf="loadingAgreements || (selectedAgreement && loadingPricelists)" mode="indeterminate"></mat-progress-spinner>
      <mat-form-field *ngIf="selectedAgreement && !loadingPricelists" floatLabel="always">
        <mat-select [(ngModel)]="selectedPricelist">
          <mat-option *ngFor="let pricelist of pricelists" [value]="pricelist.id">
            {{pricelist.number}}
          </mat-option>
        </mat-select>
        <mat-placeholder>Prislista</mat-placeholder>
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button *ngIf="!saving" mat-button (click)="done()" [disabled]="!selectedPricelist">
      LÄGG TILL ARTIKEL I PRISLISTA
    </button>
    <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </mat-dialog-actions>
</div>
