<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <h1>Hantera prislista</h1>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" class="content">
    <div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök på artikelnamn, artikeltyp eller ISO-nummer</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
        <div fxFlex="50%" class="border-component">
          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>ARTIKELTYPER</h2>
          </div>
          <div class="component first-component">
            <mat-checkbox [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel</mat-checkbox>
          </div>
          <div class="component">
            <mat-checkbox [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör</mat-checkbox>
          </div>
          <div class="component">
            <mat-checkbox [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel</mat-checkbox>
          </div>
          <div class="component">
            <mat-checkbox [(ngModel)]="filterTJ" (change)="onFilterChange()">Tjänst</mat-checkbox>
          </div>
          <div class="component">
            <mat-checkbox [(ngModel)]="filterI" (change)="onFilterChange()">Inställning</mat-checkbox>
          </div>
        </div>
        <div fxFlex="50%" class="border-component">
          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>STATUS</h2>
          </div>
          <div class="component first-component">
            <mat-checkbox [(ngModel)]="filterPublished" (change)="onFilterChange()">Aktiv
            </mat-checkbox>
          </div>
          <div class="component">
            <mat-checkbox [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="searchTotal !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="searchTotal === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
      </div>

    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%">
      <div *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="articles.length && !loading" class="container mat-elevation-z1">

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="add">
            <mat-header-cell *matHeaderCellDef fxFlex="10%">
              <button mat-menu-item (click)="addAllRows()">
                <mat-icon color="accent">add</mat-icon>
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRICELIST_ADD_ALL}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </button>

            </mat-header-cell>

            <mat-cell *matCellDef="let element" fxFlex="10%">
              <button mat-menu-item (click)="addRow(element)">
                <mat-icon color="accent">add</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="typ">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleType}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="benämning">
            <mat-header-cell *matHeaderCellDef fxFlex="50%"> Benämning</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="50%"> {{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="artikelnummer">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.number}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="kategori">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
          <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
          <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
          </div>
          <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div *ngIf="show && markedArticles.length" fxLayoutAlign="start">
        <span>Valda artiklar ({{markedArticles.length}})</span>
      </div>
    </div>
  </div>

  <div *ngIf="show" fxLayout="row" class="content">
    <div fxFlex="100%">
      <div *ngIf="loading2">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="markedArticles.length && !loading2" class="container mat-elevation-z1">

        <mat-table #table2 [dataSource]="dataSource2">


          <ng-container matColumnDef="remove">

            <mat-header-cell *matHeaderCellDef fxFlex="10%">
              <button mat-menu-item (click)="deleteAllRows()">
                <mat-icon color="warn">remove</mat-icon>
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRICELIST_REMOVE_ALL}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </button>

            </mat-header-cell>


            <mat-cell *matCellDef="let element" fxFlex="10%">
              <button mat-menu-item (click)="deleteRow(element)">
                <mat-icon color="warn">remove</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="typ">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.articleType}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="benämning">
            <mat-header-cell *matHeaderCellDef fxFlex="50%"> Benämning</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="50%"> {{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="artikelnummer">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Artikelnummer</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.number}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="kategori">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>

        </mat-table>
        <div *ngIf="markedArticles.length > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
          <span *ngIf="currentPage2 !== 1" class="paginator-nav" (click)="goToPage2(currentPage2 - 1)"><</span>
          <div *ngFor="let pageNumber of paginatorArray2">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage2}"
                  (click)="goToPage2(pageNumber)">{{pageNumber}}</span>
          </div>
          <span *ngIf="currentPage2 < totalPages2" class="paginator-nav" (click)="goToPage2(currentPage2 + 1)">></span>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <div fxLayoutAlign="start" *ngIf="!show && markedArticles.length">
      <button mat-button (click)="showSelected()">
        VISA VALDA ARTIKLAR ({{markedArticles.length}})
      </button>
    </div>
    <div fxLayoutAlign="start" *ngIf="show && markedArticles.length">
      <button mat-button (click)="hideSelected()">
        DÖLJ VALDA ARTIKLAR ({{markedArticles.length}})
      </button>
    </div>
    <button mat-button (click)="done()" [disabled]="!markedArticles.length">
      LÄGG TILL VALDA ARTIKLAR ({{markedArticles.length}})
    </button>
    <button mat-button mat-dialog-close>AVBRYT</button>
  </mat-dialog-actions>
</div>



