<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" class="component first-component">
  <h1>Användare skapad</h1>
</div>
<mat-dialog-content>
  <div class="component first-component">
    <p>Detta är länken för automatisk inloggning. Spara undan denna länk säkert då det är enda gången den kommer att visas.</p>
  </div>
  <div class="component last-component">
    <p>{{data}}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK, jag har sparat länken</button>
</mat-dialog-actions>
