.content-wrapper {
  margin: 200px auto;
}

.content-component {
  margin-top: 10px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 36px;
  }
}

hr {
  margin: auto;
  width: 40%;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.countdown-container {
  margin-top: 20px;
  .countdown-block {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #118582;
    margin: 0 5px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    .section {
      /* countdown block inner div */
      display: table-cell;
      vertical-align: middle;
      height: 115px;
      width: 120px;
      .amount {
        display: block;
        color: white;
        font-size: 40px;
      }
      .word {
        display: block;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 40px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */
}
