<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*-->
<div class="page-wrapper">

  <div fxLayout="row" class="navigation-header">
    <h1>Administration</h1>
  </div>

  <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">

      <div fxLayout="column" class="column-content border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>ÄNDRA AKTUELL INFORMATION PÅ STARTSIDAN</h2>
        </div>

        <div *ngIf="!dynamicTextLoaded" class="content">Laddar...</div>

        <div *ngIf="dynamicTextLoaded" fxLayout="row" class="component first-component">

          <mat-form-field class="full-width">
            <textarea maxlength="10000" autocomplete="off" cdkAutosizeMinRows="1"
                      cdkTextareaAutosize matInput type="text" [(ngModel)]="dynamicText.dynamicText"></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="component last-component">
          <button mat-raised-button color="primary" (click)="saveInfoTextToDatabase()">
            SPARA
          </button>
        </div>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>MAILA INLOGGNINGSUPPGIFTER TILL NYA ANVÄNDARE</h2>
        </div>
        <div fxLayout="row" class="component first-component last-component">
          <button mat-raised-button color="primary" (click)="openSendWelcomeMailDialog()">
            SKICKA INLOGGNINGSUPPGIFTER
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
