<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">

  <div fxLayout="row" class="navigation-header">
    <div fxFlex="95%">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <h1>Produkter och artiklar</h1>
        <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                  matTooltip="{{helpTexts.values.CREATE_PRODUCTS_AND_ARTICLES}}"
                  [matTooltipClass]="{'long-tooltip': true}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </div>
    </div>
    <div fxFlex="3%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span class="menu-label">MENY</span>
      </button>
      <mat-menu #menu="matMenu" class="wide-mat-menu">
        <button mat-menu-item (click)="exportProductsAndArticles()">
          <mat-icon color="primary">save_alt</mat-icon>
          <span>Exportera sökresultat till Excel-fil</span>
        </button>
        <button mat-menu-item routerLink="export">
          <mat-icon color="primary">save_alt</mat-icon>
          <span>Läs ut produkter/artiklar för hantering via Excel</span>
        </button>
        <button mat-menu-item (click)="openImportDialog()">
          <mat-icon color="primary">unarchive</mat-icon>
          <span>Läs in produkter/artiklar via Excel-fil</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-raised-button
                color="primary"
                [matMenuTriggerFor]="newArticle">
          LÄGG TILL ARTIKEL
        </button>
        <mat-menu #newArticle="matMenu">
          <button mat-menu-item routerLink="/organization/{{organizationId}}/article/handle"
                  [queryParams]="{articletype: 'H'}">
            <span>Huvudhjälpmedel</span>
          </button>
          <button mat-menu-item
                  routerLink="/organization/{{organizationId}}/article/handle" [queryParams]="{articletype: 'Tiso'}">
            <span>Generellt tillbehör med ISO-kod</span>
          </button>
          <button mat-menu-item
                  routerLink="/organization/{{organizationId}}/article/handle" [queryParams]="{articletype: 'T'}">
            <span>Tillbehör till egna hjälpmedel</span>
          </button>
          <button mat-menu-item
                  routerLink="/organization/{{organizationId}}/article/handle" [queryParams]="{articletype: 'R'}">
            <span>Reservdel</span>
          </button>
          <button mat-menu-item
                  routerLink="/organization/{{organizationId}}/article/handle" [queryParams]="{articletype: 'Tj'}">
            <span>Tjänst</span>
          </button>
          <button mat-menu-item
                  routerLink="/organization/{{organizationId}}/article/handle" [queryParams]="{articletype: 'I'}">
            <span>Inställning</span>
          </button>
        </mat-menu>
        <button mat-raised-button color="primary" routerLink="handle">LÄGG TILL PRODUKT</button>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök produkter och artiklar</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="productsAndArticles.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="productsAndArticles.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
      </div>
      <button mat-button style="background-color: #118582; color: white; margin-top:10px;" (click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik</button>

    </div>
  </div>


  <div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
    <div fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <h2>ARTIKELTYPER</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-checkbox [(ngModel)]="filterProducts" (change)="onFilterChange()">Produkter
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component">
            <mat-checkbox [(ngModel)]="filterArticles" (change)="onFilterChange()">Artiklar
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterTj" (change)="onFilterChange()">Tjänst
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component last-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterI" (change)="onFilterChange()">Inställning
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <h2>STATUS</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-checkbox [(ngModel)]="filterPublished" (change)="onFilterChange()">Aktiv
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component last-component">
            <mat-checkbox [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="productsAndArticles.length && !loading" fxFlex="100%" class="container mat-elevation-z1 table-md">

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="typ">
          <mat-header-cell *matHeaderCellDef fxFlex="5%"> Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%"><span *ngIf="element.type === 'PRODUCT'"> P</span> <span
            *ngIf="element.type === 'ARTICLE'"> {{element.articleType}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="benämning">
          <mat-header-cell *matHeaderCellDef fxFlex="45%"> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="45%"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="produkt/artnr">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"> Produkt/artnr</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Status</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.status | formatProductStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kategori">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> Kategori</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="anchor">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a
              href="organization/{{element.organizationId}}/{{element.type.toLowerCase()}}/{{element.id}}/handle"></a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 routerLink="../{{row.type.toLowerCase()}}/{{row.id}}/handle"></mat-row>

      </mat-table>
      <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
        <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
        <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
        </div>
        <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
      </div>
    </div>
  </div>

</div>
