<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök GP</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="GPs.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="GPs.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
      </div>

    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%" fxLayoutGap="10px">

      <div *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>

      <div *ngIf="GPs.length && !loading" fxFlex="100%" class="container mat-elevation-z1">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef fxFlex="6%">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="6%">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)"
              ></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leverantör">
            <mat-header-cell *matHeaderCellDef fxFlex="39%"> Leverantör</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="39%"> {{element.ownerOrganization.organizationName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="avtalsnummer">
            <mat-header-cell *matHeaderCellDef fxFlex="39%"> Avtalsnummer</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="39%"> {{element.generalPricelistNumber}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="giltigt from">
            <mat-header-cell *matHeaderCellDef fxFlex="30%"> Giltigt from</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="giltigt tom">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt tom</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="aktuell prislista">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Aktuell prislista</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"><span *ngIf="element.currentPricelist"> {{element.currentPricelist.number}}</span><span
              *ngIf="!element.currentPricelist"> Saknas</span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>

        </mat-table>
        <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
          <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
          <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
          </div>
          <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button *ngIf="!saving" [disabled]="!selection.selected.length" mat-button (click)="done()">
      LÄGG TILL VALDA LEVERANTÖRERS GENERELLA PRISER ({{this.selection.selected.length}})
    </button>
    <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </mat-dialog-actions>
</div>
