<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div fxLayout="row" class="navigation-header">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1>Generell prislista</h1>
      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                matTooltip="{{helpTexts.values.GENERAL_PRICELIST_INFO}}"
                [matTooltipShowDelay]="500">info_outline
      </mat-icon>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" class="content">
    <div fxLayout="column" fxLayoutGap="20px" fxFlex="80%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök på generella prislistans avtalsnummer eller leverantör</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="80%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="generalPricelists.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="generalPricelists.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
        </span>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%">
      <div *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="generalPricelists.length && !loading" class="container mat-elevation-z1">

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="avtalsnummer">
            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Avtalsnummer</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.generalPricelistNumber}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="avtalsnamn">
            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Avtalsnamn</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.generalPricelistName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="leverantör">
            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Leverantör</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.ownerOrganization.organizationName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="giltigt from">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt from</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="giltigt tom">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt tom</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="anchor">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a
                href="organization/{{element.ownerOrganization.id}}/generalpricelist/{{element.id}}"></a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <div *ngIf="searchTotal> offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
          <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
          <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
          </div>
          <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
        </div>
      </div>
    </div>
  </div>

</div>
