<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">

  <div fxLayout="row" class="navigation-header">
    <div fxFlex="95%" fxLayout="row" fxLayoutAlign="start center">
      <h1>Sök</h1>
      <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                matTooltip="{{helpTexts.values.SEARCH_HEADER}}"
                [matTooltipShowDelay]="500">info_outline
      </mat-icon>
    </div>
    <div fxLayoutAlign="start center" fxFlex="3%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                class="tooltip"
                                                matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                [matTooltipShowDelay]="500">info_outline
      </mat-icon></span>
      </button>
      <mat-menu #menu="matMenu" class="wide-mat-menu">
        <button mat-menu-item (click)="exportSearchResults()">
          <mat-icon color="primary">save_alt</mat-icon>
          <span>Exportera sökresultat till Excel-fil</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%">
      <div class="container mat-elevation-z1">
        <mat-form-field>
          <input autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök produkter och artiklar</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
          <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                    matTooltip="{{helpTexts.values.SEARCH_SEARCH_FIELD}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div fxFlex="100%">
      <div fxLayoutAlign="start">
        <span>Sökresultat
          <span *ngIf="productsAndArticles.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
          <span *ngIf="productsAndArticles.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>

            <mat-form-field>
            <mat-select placeholder="{{limit}}" name="changeOffset" [(value)]="limit" >

              <mat-option (click)="changePreferredAmountOfArticlesPerPage(25)">25 </mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(50)">50</mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(100)">100</mat-option>
              <mat-option (click)="changePreferredAmountOfArticlesPerPage(200)">200</mat-option>

            </mat-select>
            </mat-form-field>

        </span>
      </div>
      <button mat-button style="background-color: #118582; color: white;" (click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik</button>
    </div>
    
  </div>

  <div fxLayout="row" class="content" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
    <div fxFlex="20%" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h2>PRODUKT/ARTIKEL</h2>
                <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.SEARCH_FILTER_PRODUCTS_AND_ARTICLES}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-checkbox [(ngModel)]="filterProducts" (change)="onFilterChange()">Produkter
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component">
            <mat-checkbox [(ngModel)]="filterArticles" (change)="onFilterChange()">Artiklar
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterH" (change)="onFilterChange()">Huvudhjälpmedel
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterT" (change)="onFilterChange()">Tillbehör
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterR" (change)="onFilterChange()">Reservdel
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterTj" (change)="onFilterChange()">Tjänst
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component article-type-component last-component">
            <mat-checkbox [disabled]="!filterArticles" [(ngModel)]="filterI" (change)="onFilterChange()">Inställning
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h2>STATUS</h2>
                <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.SEARCH_FILTER_STATUS}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-checkbox [(ngModel)]="filterPublished" (change)="onFilterChange()">Aktiv
            </mat-checkbox>
          </div>
          <div fxLayout="row" class="component last-component">
            <mat-checkbox [(ngModel)]="filterDiscontinued" (change)="onFilterChange()">Utgått
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">

          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h2>LEVERANTÖR</h2>
                <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.SEARCH_FILTER_SUPPLIER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always" class="search">
              <mat-select [(ngModel)]="selectedSupplier" (ngModelChange)="onSupplierChange()">
                <mat-option [value]="-1"></mat-option>
                <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id+':'+supplier.organizationName">
                  <!--                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">-->
                  {{ supplier.organizationName }}

                </mat-option>
              </mat-select>

              <mat-placeholder>Leverantör
              </mat-placeholder>
            </mat-form-field>
          </div>

        </mat-expansion-panel>
      </div>


      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h2>KATEGORISPECIFIKA EGENSKAPER</h2>
                <mat-icon matSuffix *ngIf="helpTextsLoaded" class="tooltip"
                          matTooltip="{{helpTexts.values.SEARCH_FILTER_CATEGORY}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" type="text" matInput readonly
                     [formControl]="categoryFormControl"
                     (click)="openCategoryDialog()">
              <button mat-button *ngIf="categoryFormControl.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="clearCategory()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-placeholder>Kategori</mat-placeholder>
              <mat-error *ngIf="categoryError">{{categoryError}}</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="categoryProperties && categoryProperties.length" fxLayout="column">

            <div *ngFor="let property of categoryProperties; let first = first; let last = last"
                 fxLayout="column" class="component" [ngClass]="{'first-component': first, 'last-component' : last}">

              <mat-form-field *ngIf="property.type === 'TEXTFIELD'" floatLabel="always">
                <input autocomplete="off" matInput type="text" [(ngModel)]="property.textValue"
                       (ngModelChange)="onCategoryPropertyChange()">
                <mat-placeholder class="icon-label">{{property.name}}
                  <mat-icon *ngIf="property.description" class="tooltip"
                            matTooltip="{{property.description}}">info_outline
                  </mat-icon>
                </mat-placeholder>
              </mat-form-field>

              <div *ngIf="property.type === 'DECIMAL'">
                <div class="property-interval" fxLayout="row">
                  <mat-form-field fxLayoutGap="15px" floatLabel="always">
                    <input autocomplete="off" matInput type="number" [(ngModel)]="property.decimalFromValue"
                           (ngModelChange)="onCategoryPropertyChange()" placeholder="Från">
                    <mat-label class="icon-label">{{property.name}}
                      <mat-icon *ngIf="property.description" class="tooltip"
                                matTooltip="{{property.description}}">info_outline
                      </mat-icon>
                    </mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input autocomplete="off" matInput type="number" [(ngModel)]="property.decimalToValue"
                           (ngModelChange)="onCategoryPropertyChange()">
                    <mat-placeholder class="category-specific-placeholder">Till</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>

              <div *ngIf="property.type === 'INTERVAL'">
                <div class="property-interval" fxLayout="row">
                  <mat-form-field fxLayoutGap="15px" floatLabel="always">
                    <input autocomplete="off" matInput type="number" [(ngModel)]="property.intervalFromValue"
                           (ngModelChange)="onCategoryPropertyChange()" placeholder="Från">
                    <mat-label class="icon-label">{{property.name}}
                      <mat-icon *ngIf="property.description" class="tooltip"
                                matTooltip="{{property.description}}">info_outline
                      </mat-icon>
                    </mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input autocomplete="off" matInput type="number" [(ngModel)]="property.intervalToValue"
                           (ngModelChange)="onCategoryPropertyChange()">
                    <mat-placeholder class="category-specific-placeholder">Till</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field *ngIf="property.type === 'VALUELIST_SINGLE'" floatLabel="always">
                <mat-select [(ngModel)]="property.singleListValue"
                            (selectionChange)="onCategoryPropertyChange()">
                  <mat-option *ngFor="let value of property.values" [value]="value.id">
                    {{ value.value }}
                  </mat-option>
                </mat-select>
                <mat-placeholder class="icon-label">{{property.name}}
                  <mat-icon *ngIf="property.description" class="tooltip"
                            matTooltip="{{property.description}}">info_outline
                  </mat-icon>
                </mat-placeholder>
              </mat-form-field>
              <mat-form-field *ngIf="property.type === 'VALUELIST_MULTIPLE'" floatLabel="always">
                <mat-select [(ngModel)]="property.multipleListValue"
                            (selectionChange)="onCategoryPropertyChange()" multiple>
                  <mat-option *ngFor="let value of property.values" [value]="value.id">
                    {{ value.value }}
                  </mat-option>
                </mat-select>
                <mat-placeholder class="icon-label">{{property.name}}
                  <mat-icon *ngIf="property.description" class="tooltip"
                            matTooltip="{{property.description}}">info_outline
                  </mat-icon>
                </mat-placeholder>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </div>

      <!--<div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="true" class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <h2>ÖVRIGT</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-checkbox [(ngModel)]="filterCeMarked" (change)="onFilterChange()">Visa endast CE-märkta
              produkter/artiklar
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>-->
    </div>

    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="productsAndArticles.length && !loading" fxFlex="100%" class="container mat-elevation-z1 table-md">

      <mat-table [dataSource]="dataSource" matSort matSortDirection="{{sortOrder}}" matSortActive="{{sortType}}" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="articleType">
          <mat-header-cell *matHeaderCellDef fxFlex="7%">Typ</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="7%"><span *ngIf="element.type === 'PRODUCT'"> P</span> <span
            *ngIf="element.type === 'ARTICLE'"> {{element.articleType}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="45%" mat-sort-header> Benämning</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="45%"> {{ element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef fxFlex="25%" mat-sort-header> Produkt/artnr </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="25%"> {{element.number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="organizationName">
          <mat-header-cell *matHeaderCellDef fxFlex="15%" mat-sort-header> Leverantör</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="15%"> {{element.organizationName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef fxFlex="10%" > Kategori</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.code}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="anchor">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a
              href="../organization/{{element.organizationId}}/{{element.type.toLowerCase()}}/{{element.id}}/handle?search=true"> </a>
          </mat-cell>
        </ng-container>

        <<mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
        <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
        <div *ngFor="let pageNumber of paginatorArray">
            <span ng-attr-id='pageNumber' [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
        </div>
        <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>

      </div>
    </div>
  </div>

</div>
