/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
.content {
  margin-top: 20px;
}

.container {
  padding: 20px;
}

.wide-mat-menu {
  max-width: none !important;
}

.property-interval {
  .mat-form-field {
    max-width: 50%;
    margin-right: 15px;
  }
}

.icon-label {
  pointer-events: auto;
}

.mat-row, .mat-header-row {

  position: relative;
}

.mat-header-row {

  .mat-column-anchor {
    display:none;
  }

}

// Cells in this column should stretch to fill the row.
.mat-column-anchor {
  opacity: .1;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

// The anchor should stretch to fill the cell.
a {
  display: block;
  height: 100%;
  width: 100%;
}

// Additional UX affordance so users know they can interact with the row.
a:hover {
  background: #CCC;
}


