/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.menu-label {
  margin-left: -5px;
}

.page-wrapper {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  .mat-form-field {
    width: 80%;
  }
  .breadcrumb {
    cursor: pointer;
  }
}


.mat-raised-button {
  border-radius: 40px !important;
  font-weight: 700;
}
