<!--
* Copyright (C) 2019 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div  fxLayout="row" fxLayoutAlign="start center" fxFlex="95%">
        <h1>Organisation</h1>
        <mat-icon class="tooltip"
                  matTooltip="{{helpTexts.values.ORGANIZATION_HEADER}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </div>
      <div *ngIf="isServiceOwner" fxFlex="3%">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                  class="tooltip"
                                                  matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                  [matTooltipShowDelay]="500">info_outline
        </mat-icon></span>
        </button>
        <mat-menu #menu="matMenu" class="wide-mat-menu">
          <button mat-menu-item (click)="exportSearchResults()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Exportera sökresultat till Excel-fil</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div fxLayout="row" class="content">
      <div fxFlex="80%">
        <div class="container mat-elevation-z1">
          <mat-form-field>
            <input autofocus autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
            <mat-placeholder>Sök på namn</mat-placeholder>
            <mat-icon matSuffix>search</mat-icon>
            <mat-icon matSuffix class="tooltip"
                      matTooltip="{{helpTexts.values.ORGANIZATION_SEARCH}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="row" class="content">
      <div fxFlex="80%">
        <div fxLayout="column" fxFlex="50%">
          <div fxLayoutAlign="start">
            <span>Sökresultat
              <span *ngIf="organizations.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
              <span *ngIf="organizations.length === 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
            </span>

          </div>
          <button mat-button style="background-color: #118582; color: white; margin-top:10px; max-width: 144px;" (click)="this.storage.removeAllStorageEntriesOfType()">Rensa Sökhistorik</button>
        </div>


        <div fxLayout="column" fxFlex="50%">
          <div *ngIf="hasPermissionToCreateOrganization" fxLayoutAlign="end">
            <button mat-raised-button color="primary" routerLink="/organization/handle">LÄGG TILL ORGANISATION</button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="organizations.length && !loading" fxLayout="row" class="content">
      <div fxFlex="80%">
        <div class="container mat-elevation-z1 table-md">

          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="organisation">
              <mat-header-cell *matHeaderCellDef> Organisation</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.organizationName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="orggrupp">
              <mat-header-cell *matHeaderCellDef> Org.grupp</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.organizationType | formatOrganizationType}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="orgnr">
              <mat-header-cell *matHeaderCellDef> Org.nr</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.organizationNumber}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="gln">
              <mat-header-cell *matHeaderCellDef> GLN</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.gln}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="land">
              <mat-header-cell *matHeaderCellDef> Land</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.country.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.active | formatOrganizationStatus}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="anchor">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a href="organization/{{element.id}}/handle"></a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
            <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
            <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
            </div>
            <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
