<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<mat-dialog-content>
  <div fxLayout="row" class="component first-component">
    <p>När artikeln byter produkt den baseras på kommer artikeln att tas bort från alla eventuella avtal, generella
      prislistor och utbud artikeln ingår i.</p>
  </div>
  <div fxLayout="row" class="component">
    <mat-form-field floatLabel="always">
      <mat-select [(ngModel)]="selectedBasedOnProduct"
                  required>
        <mat-option *ngFor="let product of data.products" [value]="product">
          {{product.productNumber}} - {{product.productName}}
        </mat-option>
      </mat-select>
      <mat-placeholder class="icon-label">Baseras på produkt
      </mat-placeholder>
    </mat-form-field>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="end center">
  <mat-dialog-actions>
    <button *ngIf="!saving" mat-raised-button color="primary"
            (click)="done()"
            [disabled]="!selectedBasedOnProduct">
      SPARA
    </button>
    <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
    <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
  </mat-dialog-actions>
</div>
