<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">

  <div fxLayout="row" class="navigation-header">
    <div fxFlex="95%">
      <h1>Exportera till Excel</h1>
    </div>
  </div>
  <div fxLayout="row" class="navigation">
    <span routerLink="../">Produkter och artiklar</span><span> > </span>
    <span class="navigation-last">Exportera till Excel</span>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
    <div fxLayout="column" fxFlex="50%" class="column-content border-component">
      <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
        <h2>SKAPA URVAL FÖR FIL</h2>
      </div>

      <div fxLayout="column">
        <mat-radio-group [(ngModel)]="fileSelection">
          <div class="component first-component">
            <mat-radio-button [value]="'selectByCategories'">
              Skapa fil genom att välja kategorier
            </mat-radio-button>
          </div>
          <div *ngIf="fileSelection === 'selectByCategories'" class="component">
            <mat-checkbox [(ngModel)]="productsAndArticlesIncluded" class="include-checkbox">Inkludera produkter och artiklar</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="includeR" class="include-checkbox">Inkludera reservdelar</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="includeI" class="include-checkbox">Inkludera inställningar</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="includeTj" class="include-checkbox">Inkludera tjänster</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="includeT" class="include-checkbox">Inkludera tillbehör</mat-checkbox>
          </div>

          <div class="component">
            <mat-radio-button [value]="'selectByProducts'">
              Skapa fil genom att välja produkter
            </mat-radio-button>
          </div>

          <div *ngIf="fileSelection === 'selectByProducts'" class="component last-component">
            <mat-checkbox [(ngModel)]="pIncludeA" class="include-checkbox">Inkludera artiklar</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="pIncludeR" class="include-checkbox">Inkludera reservdelar</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="pIncludeI" class="include-checkbox">Inkludera inställningar</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="pIncludeTj" class="include-checkbox">Inkludera tjänster</mat-checkbox><br/>
            <mat-checkbox [(ngModel)]="pIncludeT" class="include-checkbox">Inkludera tillbehör</mat-checkbox>
          </div>
          <div *ngIf="fileSelection === 'selectByCategories'" class="component last-component">
          </div>
        </mat-radio-group>

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>STATUS</h2>
        </div>
        <div fxLayout="row" class="component first-component">
          <mat-checkbox [(ngModel)]="filterPublished">Aktiv
          </mat-checkbox>
        </div>
        <div fxLayout="row" class="component last-component">
          <mat-checkbox [(ngModel)]="filterDiscontinued">Utgått
          </mat-checkbox>
        </div>

      </div>

    </div>

    <div fxLayout="column" fxFlex="50%" class="column-content">
      <div class="border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>VALT INNEHÅLL</h2>
        </div>
        <div class="component first-component">
          <div *ngIf="fileSelection === 'selectByCategories'">
            <div *ngIf="!selectedCategories || !selectedCategories.length">
              Saknas
            </div>
            <div *ngFor="let category of selectedCategories">
              <span matTooltip="{{category.description}}">{{category.code}} {{category.name}}</span>
            </div>
          </div>
          <div *ngIf="fileSelection === 'selectByProducts'">
            <div *ngIf="!selectedProducts || !selectedProducts.length">
              Saknas
            </div>
            <div *ngFor="let product of selectedProducts">
              <div fxLayout="row">
                <div fxFlex="90%">
                  <span>{{product.number}} {{product.name}}</span>
                </div>
                <div fxFlex="10%">
                  <mat-icon class="remove-product" (click)="removeProduct(product)">delete</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="row" class="component">
          <div fxFlex="40%" fxLayoutAlign="end center">
            <button
              *ngIf="(fileSelection === 'selectByCategories' && (!selectedCategories || !selectedCategories.length))
               || fileSelection === 'selectByProducts'"
              mat-button (click)="openAddDialog(fileSelection)" class="open-add-dialog">
              LÄGG TILL
            </button>
            <button
              *ngIf="fileSelection === 'selectByCategories' && selectedCategories && selectedCategories.length"
              mat-button (click)="openAddDialog(fileSelection)" class="open-add-dialog">
              LÄGG TILL / TA BORT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
       class="savebar-container">
    <div fxFlex="50%"></div>
    <div fxFlex="50%">
      <button
        *ngIf="!saving && ((fileSelection === 'selectByCategories' && selectedCategories && selectedCategories.length)
        || (fileSelection === 'selectByProducts' && selectedProducts && selectedProducts.length))"
        mat-raised-button
        color="primary" (click)="export(fileSelection)">SKAPA EXCELFIL
      </button>
      <a *ngIf="!saving" mat-button routerLink="../">AVBRYT</a>
      <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
