<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" class="component first-component">
  <h1> Importera prislista</h1>
</div>
<mat-dialog-content>
  <div fxLayout="column" class="component first-component last-component">
    <div fxLayout="row">
      <input autocomplete="off" hidden id="input-id" type="file"
             accept="'xlsx'"
             (change)="fileSelected($event.target.files[0])"/>
      <div class="mat-raised-button mat-button upload-button">
        <label for="input-id" class="mat-button">VÄLJ FIL</label></div>
      <span *ngIf="file && file.name"> Vald fil: {{file.name}}</span>
    </div>
    <div *ngIf="showImportText" class="component">
      <p>Filen har lästs in. Resultatet kommer att skickas till din e-post.</p>
    </div>
    <div *ngIf="errors && errors.length" class="component">
      <p>Filen innehåller följande fel:</p>
      <div *ngFor="let error of errors">
        {{error.message}}
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="file && !importInProgress" mat-button
          (click)="import()">
    IMPORTERA FIL
  </button>
  <button *ngIf="!importInProgress" mat-button mat-dialog-close>STÄNG</button>
  <mat-progress-spinner *ngIf="importInProgress" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
