<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div fxLayout="row" class="navigation-header">
    <div *ngIf="!loading" fxFlex="95%">
      <h1>{{exportSetting.filename}}</h1>
    </div>

    <div fxFlex="3%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                class="tooltip"
                                                matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                [matTooltipShowDelay]="500">info_outline
        </mat-icon></span>
      </button>
      <mat-menu #menu="matMenu" class="wide-mat-menu">
        <button mat-menu-item (click)="exportGeneralPricelists()">
          <mat-icon color="primary">save_alt</mat-icon>
          <span>Exportera sökresultat till Excel-fil</span>
        </button>
      </mat-menu>
    </div>

  </div>
  <div fxLayout="row" class="navigation">
    <span routerLink="../">Exportfil</span><span> > </span><span
    class="navigation-last">Hantera exportfil</span>
  </div>

  <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column" class="column-content border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>GENERELLA PRISLISTOR SOM INKLUDERAS I EXPORTFILEN</h2>
        </div>

        <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

        <div *ngIf="!loading && (!GPs || !GPs.length)"
             class="component first-component>">
          <p>Saknas</p>
        </div>
        <div *ngIf="!loading && GPs && GPs.length" fxFlex="100%" class="container mat-elevation-z1 first-component">

          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="leverantör">
              <mat-header-cell *matHeaderCellDef fxFlex="39%"> Leverantör</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="39%"> {{element.ownerOrganization.organizationName}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="avtalsnummer">
              <mat-header-cell *matHeaderCellDef fxFlex="39%"> Avtalsnummer</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="39%"> {{element.generalPricelistNumber}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="giltigt from">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt from</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validFrom | date: 'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="giltigt tom">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Giltigt tom</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.validTo | date: 'yyyy-MM-dd'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef fxFlex="2%"></mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="2%">
                <mat-icon (click)="removeGP(element)">delete</mat-icon>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="gp-row">
            </mat-row>

          </mat-table>
        </div>
        <div *ngIf="!loading" fxLayout="row" class="component">
          <div fxFlex="40%" fxLayoutAlign="end center">
            <button mat-button (click)="openAddGPDialog()" class="open-add-dialog">
              LÄGG TILL
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
