<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="content">
  <div class="border-component">
    <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
      <h2>Verksamhetsområden</h2>
    </div>

    <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="!loading && !businessLevels || !businessLevels.length"
         class="component first-component>">
      <p>Saknas</p>
    </div>
    <div *ngIf="!loading && businessLevels && businessLevels.length" class="dynamic-component">
      <div *ngFor="let level of businessLevels" fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex="20%" class="dynamnic-content"
             [ngClass]="{'inactivated': level.status === 'INACTIVE'}">
          {{level.name}}
        </div>
        <div *ngIf="hasPermissionToInactivateBusinessLevel && level.status === 'ACTIVE'" fxLayout="column" fxFlex="10%">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openUpdateBusinessLevelDialog(level.id, level.name)" mat-menu-item>
              <mat-icon color="warn">edit</mat-icon>
              <span>Redigera</span>
            </button>
            <button mat-menu-item (click)="deleteBusinessLevel(level.id, level.name)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Ta bort</span>
            </button>
            <button mat-menu-item (click)="inactivateBusinessLevel(level.id)">
              <mat-icon color="warn">block</mat-icon>
              <span>Inaktivera</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div *ngIf="!loading && hasPermissionToCreateBusinessLevel" fxLayout="row" class="component">
      <div fxFlex="40%" fxLayoutAlign="start center">
        <button mat-button (click)="openAddBusinessLevelDialog()" class="open-add-dialog">
          LÄGG TILL
        </button>
      </div>
    </div>
  </div>
</div>
