<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" class="component first-component">
  <div fxFlex="90%">
    <h1 *ngIf="data.mediaType !== 'video'">Ladda upp fil eller peka ut url</h1>
    <h1 *ngIf="data.mediaType === 'video'">Lägg till video</h1>
  </div>
  <div fxFlex="10%" fxLayoutAlign="end center">
    <mat-icon *ngIf="helpTextsLoaded && data.mediaType === 'document'" class="tooltip"
              matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_UPLOAD}}"
              [matTooltipShowDelay]="500">info_outline
    </mat-icon>
    <mat-icon *ngIf="helpTextsLoaded && (data.mediaType === 'image' || data.mediaType === 'mainImage')" class="tooltip"
              matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD}}"
              [matTooltipShowDelay]="500">info_outline
    </mat-icon>
  </div>
</div>
<mat-dialog-content>
  <div *ngIf="data.mediaType !== 'video'" fxLayout="column" class="component first-component">
    <mat-radio-group [(ngModel)]="method">
      <div fxLayout="row">
        <mat-radio-button [value]="'upload'">
          <input autocomplete="off" *ngIf="method === 'upload'" hidden id="input-document-id" multiple type="file"
                 accept="{{data.mediaType === 'document' ? 'pdf' : 'png'}}"
                 (change)="fileSelected($event.target.files[0])"/>
          <div class="mat-raised-button mat-button upload-button" [ngClass]="{'upload-button-disabled': method !== 'upload'}" color="primary">
            <label for="input-document-id" class="mat-button">LADDA UPP</label></div>
          <span *ngIf="this.file && this.file.name"> Vald fil: {{file.name}}</span>
        </mat-radio-button>
      </div>
      <div fxLayout="row">
        <mat-radio-button [value]="'link'">
          <mat-form-field class="url-form-field">
            <input autocomplete="off" matInput [disabled]="method !== 'link'" [(ngModel)]="url">
            <mat-placeholder>Url</mat-placeholder>
          </mat-form-field>
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <div *ngIf="data.mediaType === 'video'" fxLayout="row" class="component first-component">
    <mat-form-field>
      <input autocomplete="off" matInput required [(ngModel)]="url">
      <mat-placeholder class="icon-label">Url
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_VIDEO_UPLOAD_URL}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
    </mat-form-field>
  </div>

  <div fxLayout="row" class="component">
    <mat-form-field>
      <input autocomplete="off" matInput type="text" [(ngModel)]="description">
      <mat-placeholder *ngIf="data.mediaType === 'image' || data.mediaType === 'mainImage'" class="icon-label">
        Beskrivning
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD_DESCRIPTION}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
      <mat-placeholder *ngIf="data.mediaType === 'video'" class="icon-label">Beskrivning
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_VIDEO_UPLOAD_DESCRIPTION}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
      <mat-placeholder *ngIf="data.mediaType === 'document'" class="icon-label">Beskrivning
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_UPLOAD_DESCRIPTION}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
    </mat-form-field>
  </div>

  <div *ngIf="data.mediaType === 'document'" fxLayout="row" class="component">
    <mat-form-field>
      <mat-select [(ngModel)]="documentType">
        <mat-option *ngFor="let type of documentTypes" [value]="type.id">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <mat-placeholder>Välj dokumenttyp</mat-placeholder>
    </mat-form-field>
  </div>

  <div *ngIf="data.mediaType !== 'document'" fxLayout="row" class="component">
    <mat-form-field>
      <input autocomplete="off" matInput type="text" [(ngModel)]="alternativetext">
      <mat-placeholder *ngIf="data.mediaType === 'image' || data.mediaType === 'mainImage'" class="icon-label">Alt-text
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_IMAGE_UPLOAD_ALT}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
      <mat-placeholder *ngIf="data.mediaType === 'video'" class="icon-label">Alt-text
        <mat-icon *ngIf="helpTextsLoaded && data" class="tooltip"
                  matTooltip="{{helpTexts.values.PRODUCT_VIDEO_UPLOAD_ALT}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </mat-placeholder>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="showSaveButton()" mat-button
          (click)="done()">
    SPARA
  </button>
  <button *ngIf="!uploading" mat-button mat-dialog-close>AVBRYT</button>
  <mat-progress-spinner *ngIf="uploading" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
