<!--
* Copyright (C) 2019 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
    <div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <h1 *ngIf="organizationId">{{organization.organizationName}}</h1>
        <h1 *ngIf="!organizationId">Ny organisation</h1>
      </div>
      <div
        *ngIf="organizationId && !editMode && showSaveBar && (hasPermissionToUpdateOrganization || hasPermissionToUpdateContact)"
        fxFlex="2%" fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>
      <div *ngIf="organizationId && !editMode && showSaveBar && hasPermissionToDeleteOrganization" fxFlex="3%">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteOrganization()">
            <mat-icon>delete</mat-icon>
            <span>Ta bort</span>
          </button>
        </mat-menu>
      </div>
        <div *ngIf="tabName == 'Användare' && !editMode && isServiceOwner" fxLayoutAlign="start center" fxFlex="3%">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                  class="tooltip"
                                                  matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                  [matTooltipShowDelay]="500">info_outline
          </mat-icon></span>
        </button>
        <mat-menu #menu="matMenu" class="wide-mat-menu">
          <button mat-menu-item (click)="exportSearchResults()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Exportera sökresultat till Excel-fil</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div fxLayout="row" class="navigation">
      <span routerLink="/organization">Organisation</span><span> > </span><span class="navigation-last">Hantera organisation</span>
    </div>

    <mat-tab-group class="tab-group" [selectedIndex]="initialTab" (selectedTabChange)="onTabSelection($event)">
      <mat-tab label="Organisation">
        <div class="tab-content">
          <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
            <div fxLayout="column" fxFlex="50%" class="column-content border-component">
              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>ORGANISATIONSUPPGIFTER</h2>
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.ORGANIZATION_DATA_HEADER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>
              <div fxLayout="row" class="organization-group-title">
                <span fxFlex="70%">Organisationsgrupp *</span>
                <div fxFlex="30%">
                  <mat-checkbox [(ngModel)]="organization.active" disabled>Aktiv</mat-checkbox>
                </div>
              </div>

              <div class="organization-group-container">
                <mat-radio-group [(ngModel)]="organization.organizationType"
                                 [disabled]="!editMode || organizationId || !hasPermissionToUpdateOrganization">
                  <div fxLayout="row" fxLayoutGap="10px" class="component">
                    <mat-radio-button value="CUSTOMER">Kund</mat-radio-button>
                    <div *ngIf="organization.organizationType === 'SERVICE_OWNER'">
                      <mat-radio-button value="SERVICE_OWNER">Tjänsteägare</mat-radio-button>
                    </div>
                  </div>

                  <div fxLayout="row" class="component">
                    <mat-radio-button value="SUPPLIER">Leverantör</mat-radio-button>
                  </div>
                </mat-radio-group>

              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput required autofocus [formControl]="nameFormControl">
                  <mat-placeholder>Organisationsnamn</mat-placeholder>
                  <mat-error *ngIf="nameError">{{nameError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" *ngIf="!editMode || organizationId || !hasPermissionToUpdateOrganization"
                         matInput required
                         disabled
                         [value]="organization.country.name">
                  <mat-select *ngIf="!organizationId" required [(ngModel)]="organization.country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                      {{ country.name }}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder>Land</mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput required
                         [formControl]="organizationNumberFormControl">
                  <mat-placeholder>Organisationsnummer</mat-placeholder>
                  <mat-error *ngIf="numberError">{{numberError}}</mat-error>
                </mat-form-field>
              </div>

<!--frasse-->
              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput required [formControl]="glnFormControl">
                  <mat-placeholder>GLN</mat-placeholder>
                  <mat-error *ngIf="glnFormControl.hasError('pattern')">
                    GLN måste anges med 13 siffror
                  </mat-error>
                  <mat-error *ngIf="glnError">{{glnError}}</mat-error>
                </mat-form-field>
              </div>

              <div *ngIf="organization.organizationType === 'CUSTOMER'" fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <textarea type="text" matInput readonly matTextareaAutosize
                            [(ngModel)]="businessLevels"
                            [disabled]="!editMode">
            </textarea>
                  <mat-placeholder class="icon-label">Verksamhetsområde
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.ORGANIZATION_BUSINESSLEVEL}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                </mat-form-field>
              </div>

              <div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerFrom" required
                           [formControl]="validFromFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                    <mat-placeholder>Giltig from</mat-placeholder>
                    <mat-error *ngIf="validFromError">{{validFromError}}</mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50%">
                  <mat-form-field floatLabel="always">
                    <input autocomplete="off" matInput [matDatepicker]="pickerTo" [formControl]="validToFormControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                    <mat-placeholder>Giltig tom</mat-placeholder>
                    <mat-error *ngIf="validToError">{{validToError}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div fxLayout="column" fxFlex="50%" class="column-content border-component">

              <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
                <h2>ADRESS- OCH KONTAKTUPPGIFTER</h2>
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.ORGANIZATION_CONTACT_INFO_HEADER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </div>

              <div fxLayout="row" class="component first-component">
                <mat-form-field floatLabel="always">
                  <input [hidden]="!editMode" autocomplete="off" matInput [formControl]="webFormControl">
                  <a *ngIf="!editMode" href="{{webFormControl.value}}" target="_blank">{{webFormControl.value}}</a>
                  <mat-placeholder class="icon-label">Webbplats
                    <mat-icon class="tooltip"
                              matTooltip="{{helpTexts.values.ORGANIZATION_URL}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-placeholder>
                  <mat-error *ngIf="webError">{{webError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [formControl]="emailFormControl">
                  <mat-placeholder>E-post</mat-placeholder>
                  <mat-error *ngIf="emailError">{{emailError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="organization.electronicAddress.telephone"
                         [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
                  <mat-placeholder>Telefon växel</mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="organization.electronicAddress.fax"
                         [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
                  <mat-placeholder>Faxnummer</mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center" class="component">
                <h3>Postadress</h3>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="visitAddress.streetAddress"
                         [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
                  <mat-placeholder>Gatuadress eller box</mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [formControl]="visitZipFormControl">
                  <mat-placeholder>Postnummer</mat-placeholder>
                  <mat-error *ngIf="visitZipError">{{visitZipError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="visitAddress.city"
                         [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
                  <mat-placeholder>Postort</mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center" class="component">
                <h3>Leveransadress</h3>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="deliveryAddress.streetAddress"
                         [disabled]="!editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
                  <mat-placeholder>Gatuadress</mat-placeholder>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [formControl]="deliverZipFormControl">
                  <mat-placeholder>Postnummer</mat-placeholder>
                  <mat-error *ngIf="deliverZipError">{{deliverZipError}}</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" class="component">
                <mat-form-field floatLabel="always">
                  <input autocomplete="off" matInput [(ngModel)]="deliveryAddress.city"
                         [disabled]=" !editMode || (!hasPermissionToUpdateOrganization && !hasPermissionToUpdateContact)">
                  <mat-placeholder>Postort</mat-placeholder>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab
        *ngIf="organizationId && organization.organizationType === 'CUSTOMER' && (hasPermissionToCreateBusinessLevel || hasPermissionToInactivateBusinessLevel)"
        label="Verksamhetsområde"
        [disabled]="editMode">
        <div class="tab-content">
          <app-businesslevel></app-businesslevel>
        </div>
      </mat-tab>
      <mat-tab *ngIf="organizationId && hasPermissionToViewUser" label="Användare" [disabled]="editMode">
        <div *ngIf="!loaded" class="content">Laddar...</div>
        <div *ngIf="loaded">
          <div class="tab-content">
            <div fxLayout="column" class="content">
              <div fxLayout="row" class="user-component">
                <h2>ANVÄNDARE FÖR {{organization.organizationName}}</h2>
              </div>
              <div fxLayout="row" class="user-component">
                <div fxFlex="75%">
                  <mat-form-field>
                    <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
                    <mat-placeholder>Sök på namn, e-post eller användarId</mat-placeholder>
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-icon matSuffix class="tooltip"
                              matTooltip="{{helpTexts.values.USER_SEARCH}}"
                              [matTooltipShowDelay]="500">info_outline
                    </mat-icon>
                  </mat-form-field>
                </div>
                <div fxFlex="25%">
                  <span fxFlex></span>
                  <button *ngIf="hasPermissionToCreateUser || hasPermissionToCreateOwnUser" mat-raised-button
                          color="primary"
                          class="button-container" routerLink="/organization/{{organizationId}}/user/handle">LÄGG TILL
                    ANVÄNDARE
                  </button>
                </div>
              </div>

              <div fxLayout="row" class="user-component">
                <mat-checkbox [(ngModel)]="showInactiveUsers" (change)="onShowInactiveUsersChange()">Visa även inaktiva
                  användare
                </mat-checkbox>
              </div>

              <div class="user-component">
                <span>Sökresultat
                  <span *ngIf="this.filteredUsers.length !== 1">"{{tmpQuery}}" ({{this.filteredUsers.length}} träffar)</span>
                  <span *ngIf="this.filteredUsers.length === 1">"{{tmpQuery}}" ({{this.filteredUsers.length}} träff)</span>

                  <!--
                  <span *ngIf="users.length !== 1">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
                  <span *ngIf="users.length === 1">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
                  -->
                </span>
              </div>

              <div *ngIf="filteredUsers.length" fxLayout="row" class="content">
                <div fxFlex="100%">
                  <div class="container mat-elevation-z1 table-md">

                    <mat-table #table [dataSource]="dataSource">

                      <ng-container matColumnDef="namn">
                        <mat-header-cell *matHeaderCellDef fxFlex="25%"> Namn</mat-header-cell>
                        <mat-cell *matCellDef="let element"
                                  fxFlex="25%"> {{element.firstName}} {{element.lastName}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="användarnamn">
                        <mat-header-cell *matHeaderCellDef fxFlex="25%"> Användarnamn</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="25%"> {{element.username}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="titel">
                        <mat-header-cell *matHeaderCellDef fxFlex="20%"> Titel</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.title}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="e-post">
                        <mat-header-cell *matHeaderCellDef fxFlex="25%"> E-post</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="25%"> {{element.electronicAddress.email}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef fxFlex="5%"> Status</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.active | formatOrganizationStatus}}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="anchor">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a href="organization/{{organizationId}}/user/{{element.id}}/handle" class="row-link"></a>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    </mat-table>
                    <div *ngIf="searchTotal > offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
                      <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
                      <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
                      </div>
                      <span *ngIf="currentPage < totalPages" class="paginator-nav"
                            (click)="goToPage(currentPage + 1)">></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="showSaveBar && editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
         class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button *ngIf="!saving && editMode && (hasPermissionToUpdateOrganization || hasPermissionToUpdateContact)"
                mat-raised-button
                color="primary" (click)="saveOrganization()">SPARA
        </button>
        <a *ngIf="!saving && organizationId" mat-button (click)="cancel()">AVBRYT</a>
        <a *ngIf="!saving && !organizationId" mat-button (click)="goBack()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

  </div>
</div>
