<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" fxLayoutGap="10px">
  <h1 mat-dialog-title>Välj kategori</h1>
  <mat-icon *ngIf="loaded && !data" class="tooltip"
            matTooltip="{{helpTexts.values.PRODUCT_SELECT_CATEGORY}}"
            [matTooltipShowDelay]="500">info_outline
  </mat-icon>
  <mat-icon *ngIf="loaded && data && !data.includeCodelessCategories" class="tooltip"
            matTooltip="{{helpTexts.values.PRODUCT_SELECT_EXTENDED_CATEGORIES}}"
            [matTooltipShowDelay]="500">info_outline
  </mat-icon>
</div>

<mat-dialog-content>
  <mat-form-field class="search">
    <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
    <mat-placeholder>Sök på kod eller beskrivning</mat-placeholder>
    <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="!query" fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="10px">
    <div *ngIf="levelOneCategories && levelOneCategories.length" fxLayout="column" fxFlex="25%"
         class="border-component">

      <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
        <h2>KATEGORI NIVÅ 1</h2>
      </div>
      <div class="column-content">
        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelOneCategories">
          <mat-card class="select" (click)="onCategorySelection(category, 1)"
                    [ngClass]="{'selected': category.id === selectedLevelOne}">
            <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="levelTwoCategories && levelTwoCategories.length" fxLayout="column" fxFlex="25%"
         class="border-component">

      <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
        <h2>KATEGORI NIVÅ 2</h2>
      </div>
      <div class="column-content">
        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelTwoCategories">
          <mat-card class="select" (click)="onCategorySelection(category, 2)"
                    [ngClass]="{'selected': category.id === selectedLevelTwo}">
            <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="levelThreeCategories && levelThreeCategories.length" fxLayout="column" fxFlex="25%"
         class="border-component">

      <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
        <h2>KATEGORI NIVÅ 3</h2>
      </div>
      <div class="column-content">
        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelThreeCategories">
          <mat-card class="select" (click)="onCategorySelection(category, 3)"
                    [ngClass]="{'selected': category.id === selectedLevelThree}">
            <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="levelFourCategories && levelFourCategories.length" fxLayout="column" fxFlex="25%"
         class="border-component">

      <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
        <h2>KATEGORI NIVÅ 4</h2>
      </div>
      <div class="column-content">
        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of levelFourCategories">
          <mat-card class="select" (click)="onCategorySelection(category, 4)"
                    [ngClass]="{'selected': category.id === selectedLevelFour}">
            <mat-card-subtitle>
              <span matTooltip="{{category.description}}"
                    [matTooltipShowDelay]="500">{{category.code}} {{category.name}}</span>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="query" fxLayout="row">
    <div fxLayout="column" fxFlex="25%" class="border-component">

      <div fxLayout="row" fxLayoutAlign="center center" class="component-title">
        <h3>Sökresultat</h3>
      </div>
      <div class="column-content">
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!searchResults || !searchResults.length">
          <p>Din sökning gav ingen träff</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let category of searchResults">
          <mat-card class="select" (click)="onCategorySelection(category, 5)"
                    [ngClass]="{'selected': category.id === selectedCategory.id}">
            <mat-card-subtitle>
              {{category.code}} {{category.name}}
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div *ngIf="data && data.selectedCategories && data.selectedCategories.length" fxLayout="column"
       class="category-container">
    <div fxLayout="row">
      <h4>Valda kategorier</h4>
    </div>
    <div fxLayout="row">
      <mat-chip-list>
        <mat-chip *ngFor="let category of data.selectedCategories" (removed)="remove(category)">
          {{category.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-dialog-actions>
    <button *ngIf="selectedCategory.articleType && (!data || !data.selectedCategories)" mat-button (click)="done()">
      VÄLJ KATEGORI
    </button>

    <button *ngIf="data && data.selectedCategories" [disabled]="!data.selectedCategories.length" mat-button (click)="done()">
      VÄLJ KATEGORIER
    </button>
    <button mat-button mat-dialog-close>AVBRYT</button>
  </mat-dialog-actions>
</div>
