/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
@import '../../../../theme.scss';

.search {
  width: 25%;
  min-width: 280px;
}

.border-component {
  min-width: 280px;
}

.column-content {
  padding: 0;
}

.selected {
  background: $primary-color;
  .mat-card-subtitle {
    color: #FFFFFF;
  }
}

.select {
  cursor: pointer;
}

.mat-card {
  width: 100%;
  padding: 7px;
}

.category-container {
  margin: 20px 0;
}

.mat-dialog-actions {
  .mat-button {
    color: cornflowerblue;
  }
}

