<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
    <div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <h1 *ngIf="userId">{{user.firstName}} {{user.lastName}}</h1>
        <h1 *ngIf="!userId">Ny användare</h1>
      </div>
      <div
        *ngIf="userId && !editMode && (hasPermissionToUpdateUser || hasPermissionToUpdateOwnUser || hasPermissionToUpdateContact)"
        fxFlex="2%" fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>
    </div>

    <div fxLayout="row" class="navigation">
      <span routerLink="/organization">Organisation</span><span> > </span><span
      routerLink="/organization/{{organizationId}}/handle">Hantera organisation</span><span> > </span><span
      class="navigation-last">Hantera användare</span>
    </div>

    <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="50%" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>Användaruppgifter</h2>
          <mat-icon class="tooltip"
                    matTooltip="{{helpTexts.values.USER_DATA_HEADER}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>

        <div fxLayout="row" class="component first-component">
          <mat-checkbox [(ngModel)]="user.active" disabled>Aktiv</mat-checkbox>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="text" disabled [(ngModel)]="organization.organizationName">
            <mat-placeholder>Organisationstillhörighet</mat-placeholder>
          </mat-form-field>
        </div>

        <div *ngIf="businessLevels && businessLevels.length" fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <mat-select [(ngModel)]="selectedBusinessLevels" multiple
                        [disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser)">
              <mat-option *ngFor="let level of businessLevels" [value]="level">
                {{ level.name }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="icon-label">Begränsad till verksamhetsområde
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.USER_BUSINESSLEVEL}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="text" required autofocus [formControl]="userNameFormControl">
            <mat-placeholder>Användarnamn</mat-placeholder>
            <mat-error *ngIf="usernameError">{{usernameError}}</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="text" required [formControl]="firstNameFormControl">
            <mat-placeholder>Förnamn</mat-placeholder>
            <mat-error *ngIf="firstNameError">{{firstNameError}}</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="text" required [formControl]="lastNameFormControl">
            <mat-placeholder>Efternamn</mat-placeholder>
            <mat-error *ngIf="lastNameError">{{lastNameError}}</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="text" [(ngModel)]="user.title"
                   [disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser)">
            <mat-placeholder>Titel</mat-placeholder>
          </mat-form-field>
        </div>

        <div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
          <div fxFlex="50%">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [matDatepicker]="pickerFrom" required
                     [formControl]="validFromFormControl">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
              <mat-placeholder>Giltig from</mat-placeholder>
              <mat-error *ngIf="validFromError">{{validFromError}}</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50%">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [matDatepicker]="pickerTo" [formControl]="validToFormControl">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
              <mat-placeholder class="icon-label">Giltig tom
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.USER_VALID_TO}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="validToError">{{validToError}}</mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
        <div fxLayout="column" class="column-content border-component">
          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>Kontaktuppgifter</h2>
            <mat-icon class="tooltip"
                      matTooltip="{{helpTexts.values.USER_CONTACT_INFO_HEADER}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>

          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [(ngModel)]="user.electronicAddress.telephone"
                     [disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser && !hasPermissionToUpdateContact)">
              <mat-placeholder>Telefonnummer</mat-placeholder>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [(ngModel)]="user.electronicAddress.mobile"
                     [disabled]="!editMode ||(!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser && !hasPermissionToUpdateContact)">
              <mat-placeholder>Mobilnummer</mat-placeholder>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput required [formControl]="emailFormControl">
              <mat-placeholder>E-post</mat-placeholder>
              <mat-error *ngIf="emailFormControl.hasError('email') && user.electronicAddress.email">
                Ange en giltig e-postadress, tack
              </mat-error>
              <mat-error *ngIf="emailError">{{emailError}}</mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="!userId" fxLayout="row" class="component last-component">
            <span>{{helpTexts.values.PROFILE_CONSENT_GIVEN}}
            </span>
          </div>
        </div>

        <div fxLayout="column" class="column-content border-component">
          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>Behörighet ({{organization.organizationType | formatOrganizationType}})</h2>
            <mat-icon class="tooltip"
                      matTooltip="{{helpTexts.values.USER_PERMISSIONS}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>

          <div *ngIf="isSuperAdmin && !userId" class="component first-component">
            <mat-form-field floatLabel="always">
              <mat-select [(ngModel)]="user.loginType"
                          [disabled]="!editMode">
                <mat-option [value]="'PASSWORD'">
                  Lösenord
                </mat-option>
                <mat-option [value]="'TOKEN'">
                  Automatisk
                </mat-option>
              </mat-select>
              <mat-placeholder>Inloggningssätt</mat-placeholder>
            </mat-form-field>
          </div>

          <div fxLayout="column" class="component first-component last-component">
            <div *ngFor="let role of roles" fxLayout="row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? onSelectionChange($event, role) : null"
                            [checked]="selection.isSelected(role)"
                            [disabled]="!editMode || (!hasPermissionToUpdateUser && !hasPermissionToUpdateOwnUser) || ((role.name === 'Customeradmin' || role.name === 'Supplieradmin') && !isSuperAdmin)"
              >{{role.description}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button
          *ngIf="!saving && editMode && (hasPermissionToUpdateUser || hasPermissionToUpdateOwnUser || hasPermissionToUpdateContact)"
          mat-raised-button
          color="primary" (click)="saveUser()">
          SPARA
          <mat-icon
            class="tooltip"
            matTooltip="{{helpTexts.values.USER_SAVE}}"
            [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </button>
        <a *ngIf="!saving && userId" mat-button (click)="cancel()">AVBRYT</a>
        <a *ngIf="!saving && !userId" mat-button (click)="goBack()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
