<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="login-wrapper">
  <div fxLayout="row">
    <h1>Logga in i Hjälpmedelstjänsten</h1>
  </div>

  <div fxLayout="column" class="login-component">
    <div class="component first-component">
      <mat-form-field>
        <input autocomplete="off" matInput type="text" [(ngModel)]="login.username" (keyup.enter)="loginUser()" autofocus>
        <mat-placeholder>Användarnamn</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="component last-component">
      <mat-form-field>
        <input autocomplete="off" matInput type="password" [(ngModel)]="login.password" (keyup.enter)="loginUser()">
        <mat-placeholder>Lösenord</mat-placeholder>
      </mat-form-field>
    </div>
  </div>

  <div class="login-component">
    <div fxLayout="row" fxLayoutGap="10px">
      <button routerLink="/login/password/recover" mat-button class="request-password-button">
        Glömt lösenord?
      </button>
      <button [disabled]="!login.username || !login.password" mat-raised-button color="primary" (click)="loginUser()">
        LOGGA IN
      </button>
    </div>
  </div>

</div>
