<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">

  <div fxLayout="row" class="navigation-header">
    <h1>Exportinställningar</h1>
  </div>

  <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="10px">
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="column" class="column-content border-component table-md">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>EXPORTINSTÄLLNINGAR FÖR KUNDER</h2>
        </div>

        <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
        <div *ngIf="!loading && !exportSettings.length"
             class="component first-component">
          <p>Saknas</p>
        </div>
        <div *ngIf="!loading && exportSettings.length" fxFlex="100%"
             class="container mat-elevation-z1 component first-component">

          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="kund">
              <mat-header-cell *matHeaderCellDef fxFlex="25%"> Kund</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="25%"> {{element.organization.organizationName}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="filnamn">
              <mat-header-cell *matHeaderCellDef fxFlex="25%"> Filnamn</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="25%"> {{element.filename}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="verksamhetsområde">
              <mat-header-cell *matHeaderCellDef fxFlex="20%"> Verksamhetsområde</mat-header-cell>
              <mat-cell *matCellDef="let element" fxFlex="20%"> <span *ngIf="element.businessLevel">
                {{element.businessLevel.name}}</span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="senast levererad">
              <mat-header-cell *matHeaderCellDef fxFlex="15%"> Senast levererad</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        fxFlex="15%"> {{element.lastExported | date: 'yyyy-MM-dd'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="aktiv">
              <mat-header-cell *matHeaderCellDef fxFlex="10%"> Aktiv</mat-header-cell>
              <mat-cell *matCellDef="let element"
                        fxFlex="10%"> {{element.enabled | formatExportSettingStatus}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
              <mat-cell *matCellDef="let element"
                        fxFlex="5%"> <mat-icon (click)="editExportSettings(element)">edit</mat-icon> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="start">
              <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
              <mat-cell *matCellDef="let element"
                        fxFlex="5%"> <mat-icon (click)="startExport(element)">play_circle_filled</mat-icon> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

          </mat-table>
        </div>
        <div *ngIf="!loading" fxLayout="row" class="component last-component">
          <div fxFlex="40%" fxLayoutAlign="end center">
            <button mat-button (click)="openAddExportSettingDialog()" class="open-add-dialog">
              LÄGG TILL
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
