<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-footer" fxLayout.lt-md="{{flexDirection}}" fxLayoutAlign="space-around center"
     fxLayoutAlign.lt-md="space-around start" fxLayoutGap.lt-md="20px">
  <div class="footer-component">
    <img class="footer-logotype" src="assets/Inera-Logo.svg">
  </div>
  <div class="footer-component">
    <div class="footer-header">BESÖKSADRESS</div>
    <div>Tjärhovsgatan 21B</div>
    <div>Stockholm</div>
  </div>
  <div class="footer-component">
    <div class="footer-header">POSTADRESS</div>
    <div>Box 17703,</div>
    <div>118 93 Stockholm</div>
  </div>
  <div class="footer-component">
    <div class="footer-header">SUPPORT</div>
    <div>Support@inera.se</div>
    <div>0771-25 10 10</div>
  </div>
  <div class="footer-order-component">
    <div class="footer-header">BESTÄLLNINGAR</div>
    <a>Begär upplägg av ny lokal</a>
    <a>administratör</a>
  </div>
</div>
