<div fxLayout="row" fxLayoutAlign="start center" class="header-container">
  <mat-toolbar color="primary">
    <div class="logotype-container">
      <img class="logotype" src="assets/Inera-Logo.svg">
    </div>
    <span class="header-title">Hjälpmedelstjänsten</span>
    <span class="header-spacer"></span>
  </mat-toolbar>
</div>
