.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;

  .mat-icon {
    height: 28px;
  }
}

.logotype-container {
  background-color: white;
  width: 80px;
  height: 100%;
  margin-left: -16px;
}

.logotype {
  width: 68px;
  height: 48px;
}

.header-title {
  margin-left: 15px;
  font-weight: 700;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-weight: 700;
}

.active-menu-item {
  border-bottom: 8px solid;
}
