<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" class="component first-component">
  <h1>Ta bort GP från exportfil</h1>
</div>
<mat-dialog-content>
  <div class="component">
    <p *ngIf="data.gp.generalPricelistName">Är du säker på att du vill ta bort {{data.gp.generalPricelistName}}?</p>
    <p *ngIf="!data.gp.generalPricelistName">Är du säker på att du vill ta bort GP?</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="!saving" mat-button (click)="done()">
    TA BORT
  </button>
  <button *ngIf="!saving" mat-button mat-dialog-close>AVBRYT</button>
  <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>
