/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
.row {
  width: 100%;
  .mat-form-field {
    width: 95%;
  }
}

.extra-long {
  .mat-form-field {
    width: 95%;
  }
}

.add {
  cursor: pointer;
}

.order-information {
  .mat-form-field {
    height: 20%;
  }
  .information-component {
    margin-top: 26px;
  }
}

.mat-radio-button {
  margin: 0 10px 10px 0;
}

.property-interval {
  width: 80%;
  .mat-form-field {
    width: 50%;
  }
  .first-interval-field {
    margin-right: 15px;
  }
}

.add-button {
  color: cornflowerblue;
}

.media-tooltip {
  .mat-icon {
    font-size: 16px;
  }
}

.tooltip-small {
  .mat-icon {
    font-size: 16px;
  }
}

.first-tooltip {
  margin-top: 40px;
}

.image-thumbnail {
  width: 72px;
}

.delete-media {
  cursor: pointer;
}

.document-icon-component {
  i {
    font-size: 42px;
  }
}

.selected-products {
  margin-top: 20px;
}
