<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
<div *ngIf="loaded && helpTextsLoaded">
  <div fxLayout="row" class="content" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">
      <div fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>PRODUKTINFORMATION</h2>
        </div>
        <div fxLayout="row" class="component first-component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="text" autofocus maxlength="35" required
                   [formControl]="productNumberFormControl">
            <mat-placeholder class="icon-label">Produktnummer
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_NUMBER}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
            <mat-error *ngIf="productNumberError">{{productNumberError}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <textarea matTextareaAutosize autocomplete="off" matInput type="text" maxlength="255" required
                      [formControl]="productNameFormControl">
            </textarea>
            <mat-placeholder class="icon-label">Produktbenämning
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_NAME}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
            <mat-error *ngIf="productNameError">{{productNameError}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput disabled type="text" [(ngModel)]="supplier">
            <mat-placeholder class="icon-label">Leverantör
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_SUPPLIER}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" type="text" matInput required readonly
                   [formControl]="categoryFormControl"
                   (click)="openMainCategoryDialog()">
            <mat-placeholder class="icon-label">Kategori
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_CATEGORY}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
            <mat-error *ngIf="categoryError">{{categoryError}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <textarea type="text" matInput readonly matTextareaAutosize
                      [(ngModel)]="extendedCategories"
                      [disabled]="!editMode || !hasPermissionToUpdateProduct"
                      (click)="openExtendedCategoryDialog()">
            </textarea>
            <mat-placeholder>Visas även i följande kategorier</mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component last-component">
          <mat-checkbox [(ngModel)]="product.customerUnique"
                        [disabled]="!editMode || !hasPermissionToUpdateProduct">Kundunik produkt
            <mat-icon class="tooltip"
                      matTooltip="{{helpTexts.values.PRODUCT_CUSTOMER_UNIQUE}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </mat-checkbox>
        </div>

      </div>

      <div fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>BESTÄLLNINGSINFORMATION</h2>
        </div>
        <div fxLayout="row" class="component first-component">
          <mat-form-field floatLabel="always">
            <mat-select required [(ngModel)]="selectedOrderUnit"
                        [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-option *ngFor="let orderUnit of orderUnits" [value]="orderUnit">
                {{ orderUnit.name }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="icon-label">Beställningsenhet
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_ORDER_UNIT}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <h3>Artikeln består av</h3>
        </div>

        <div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="20px" class="component row">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="number" [(ngModel)]="product.articleQuantityInOuterPackage"
                   [disabled]="!editMode || !hasPermissionToUpdateProduct">
            <mat-placeholder class="icon-label">Antal konsumentförpackningar
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_ORDER_AMOUNT}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-select [(ngModel)]="selectedArticleQuantityInOuterPackageUnit"
                        [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-option [value]="undefined"></mat-option>
              <mat-option *ngFor="let orderUnit of orderUnits" [value]="orderUnit">
                {{ orderUnit.name }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="icon-label">Enhet
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_ORDER_AMOUNT_UNIT}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-lg="{{flexDirection}}" fxLayoutGap="20px" class="component row">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput type="number" [(ngModel)]="product.packageContent"
                   [disabled]="!editMode || !hasPermissionToUpdateProduct">
            <mat-placeholder class="icon-label">Varje konsumentförpackning innehåller
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_ORDER_CONTAINS}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-select [(ngModel)]="selectedPackageContentUnit"
                        [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-option [value]="undefined"></mat-option>
              <mat-option *ngFor="let packageUnit of packageUnits" [value]="packageUnit">
                {{ packageUnit.name }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="icon-label">Enhet
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_ORDER_CONTAINS_UNIT}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div fxLayout="row" class="component">
          <h3>Antal artiklar per förpackningstyp vid beställning</h3>
        </div>

        <div fxLayout="column" class="component last-component">
          <div fxLayout="row">
            <div fxFlex="25%" fxLayout="column" fxLayoutGap="25px">
              <span>Förpackningstyp</span>
              <span>Bas</span>
              <span>Mellan</span>
              <span>Pall</span>
            </div>
            <div fxFlex="10%" fxLayout="column" fxLayoutGap="25px" class="tooltip-small">
              <mat-icon class="tooltip first-tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_PACKAGE_LEVEL_BASE}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_PACKAGE_LEVEL_MIDDLE}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_PACKAGE_LEVEL_TOP}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </div>
            <div fxFlex="20%" fxLayout="column" class="order-information">
              <div>Antal artiklar</div>
              <mat-form-field>
                <input autocomplete="off" matInput type="number" [(ngModel)]="product.packageLevelBase"
                       [disabled]="!editMode || !hasPermissionToUpdateProduct">
              </mat-form-field>
              <mat-form-field>
                <input autocomplete="off" matInput type="number" [(ngModel)]="product.packageLevelMiddle"
                       [disabled]="!editMode || !hasPermissionToUpdateProduct">
              </mat-form-field>
              <mat-form-field>
                <input autocomplete="off" matInput type="number" [(ngModel)]="product.packageLevelTop"
                       [disabled]="!editMode || !hasPermissionToUpdateProduct">
              </mat-form-field>
            </div>
            <div fxFlex="45%" fxLayout="column" fxLayoutGap="25px">
              <div>Antal konsumentförpackningar</div>
              <div>{{(product.articleQuantityInOuterPackage * product.packageLevelBase) ||
              0}}
              </div>
              <div>{{(product.articleQuantityInOuterPackage * product.packageLevelMiddle) ||
              0}}
              </div>
              <div>{{(product.articleQuantityInOuterPackage * product.packageLevelTop) ||
              0}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel [expanded]="!productId || product.ceMarked || selectedCeStandard"
                             class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <h2>PRODUKTMÄRKNING</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="component first-component">
            <mat-checkbox [(ngModel)]="product.ceMarked" (change)="onCEToggle()"
                          [disabled]="!editMode || !hasPermissionToUpdateProduct">Produkten har CE-märkning
            </mat-checkbox>
            <mat-icon class="tooltip"
                      matTooltip="{{helpTexts.values.PRODUCT_CE}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
            <mat-form-field *ngIf="product.ceMarked" floatLabel="always">
              <mat-select [(ngModel)]="selectedCeDirective" [disabled]="!editMode || !hasPermissionToUpdateProduct">
                <mat-option [value]="undefined"></mat-option>
                <mat-option *ngFor="let directive of ce.directives" [value]="directive">
                  {{ directive.name }}
                </mat-option>
              </mat-select>
              <mat-placeholder>Direktiv</mat-placeholder>
            </mat-form-field>
          </div>
          <div *ngIf="product.ceMarked" fxLayout="row" class="component">

          </div>

          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <mat-select [(ngModel)]="selectedCeStandard" [disabled]="!editMode || !hasPermissionToUpdateProduct">
                <mat-option [value]="undefined"></mat-option>
                <mat-option *ngFor="let standard of ce.standards" [value]="standard">
                  {{ standard.name }}
                </mat-option>
              </mat-select>
              <mat-placeholder>Standard</mat-placeholder>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel
          [expanded]="!productId || selectedPreventiveMaintenanceValidity || product.preventiveMaintenanceNumberOfDays"
          class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <h2>FÖREBYGGANDE UNDERHÅLL</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px"
               class="component first-component row">
            <mat-form-field floatLabel="always">
              <mat-select [(ngModel)]="selectedPreventiveMaintenanceValidity"
                          [disabled]="!editMode || !hasPermissionToUpdateProduct">
                <mat-option [value]="undefined"></mat-option>
                <mat-option *ngFor="let validFrom of preventiveMaintenanceValidity" [value]="validFrom">
                  {{ validFrom.name }}
                </mat-option>
              </mat-select>
              <mat-placeholder class="icon-label">Gäller från
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_MAINTENANCE_VALID_FROM}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput type="number" [(ngModel)]="product.preventiveMaintenanceNumberOfDays"
                     [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-placeholder class="icon-label">Intervall (kalenderdagar)
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_MAINTENANCE_INTERVAL}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>

      <div fxLayout="column" class="column-content border-component">
        <mat-expansion-panel
          [expanded]="!productId || product.manufacturer || product.manufacturerProductNumber || product.manufacturerElectronicAddress.web || product.trademark"
          class="expansion-content">
          <mat-expansion-panel-header class="component-title">
            <mat-panel-title>
              <h2>TILLVERKARE</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput type="text" [(ngModel)]="product.manufacturer"
                     [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-placeholder class="icon-label">Tillverkarens namn
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_MANUFACTURER_NAME}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput type="text" [(ngModel)]="product.manufacturerProductNumber"
                     [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-placeholder class="icon-label">Tillverkarens produktnummer
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_MANUFACTURER_NUMBER}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="component">
            <mat-form-field floatLabel="always">
              <input [hidden]="!editMode" autocomplete="off" matInput type="text"
                     [(ngModel)]="product.manufacturerElectronicAddress.web"
                     [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <a *ngIf="!editMode" href="{{product.manufacturerElectronicAddress.web}}" target="_blank">{{product.manufacturerElectronicAddress.web}}</a>
              <mat-placeholder class="icon-label">Tillverkarens webbsida
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_MANUFACTURER_URL}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="component last-component">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput type="text" [(ngModel)]="product.trademark"
                     [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-placeholder class="icon-label">Varumärke
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_MANUFACTURER_TRADEMARK}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>

      <div fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>KOMPLETTERANDE PRODUKTINFORMATION</h2>
        </div>
        <div fxLayout="row" class="component first-component">
          <mat-form-field floatLabel="always">
            <textarea matInput matTextareaAutosize type="text" maxlength="512"
                      [(ngModel)]="product.color"
                      [disabled]="!editMode || !hasPermissionToUpdateProduct">
            </textarea>
            <mat-placeholder>Färg</mat-placeholder>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="component last-component">
          <mat-form-field floatLabel="always">
            <textarea matInput matTextareaAutosize type="text" maxlength="512"
                      [(ngModel)]="product.supplementedInformation"
                      [disabled]="!editMode || !hasPermissionToUpdateProduct">
            </textarea>
            <mat-placeholder class="icon-label">Kompletterande information
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_SUPPLEMENTED_INFORMATION}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div fxLayout="column" fxFlex="50%" fxLayoutGap="20px">

      <div *ngIf="!productId" fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>BILDER, VIDEO OCH DOKUMENT</h2>
        </div>

        <div class="component first-component last-component">
          Du måste spara produkten innan du kan lägga till bilder, video och dokument
        </div>

      </div>

      <div *ngIf="productId" fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>BILDER</h2>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="component first-component">
          <h3>Huvudbild</h3>
          <mat-icon class="tooltip"
                    matTooltip="{{helpTexts.values.PRODUCT_IMAGE_MAIN}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>
        <div *ngIf="!mainImage" class="component">
          Saknas
        </div>

        <div *ngIf="mainImage" fxLayout="row" class="component">
          <div fxFlex="15%" fxLayoutAlign="start center" class="component">
            <img src="{{mainImage.url}}" class="image-thumbnail">
          </div>
          <div fxFlex fxLayout="column" class="component">
            <div fxLayout="row">
              <div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
                <div fxLayout="column">
                  <span class="media-label">Länk/fil</span>
                  <span class="media-label">Bildtext</span>
                  <span class="media-label">Alt-text</span>
                </div>
                <div fxLayout="column" class="media-tooltip">
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_IMAGE_URL}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_IMAGE_DESCRIPTION}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_IMAGE_ALT}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
                <div fxLayout="column">
                <span [matTooltip]="mainImage.url.length > 30 ? mainImage.url : ''"><a href="{{mainImage.url}}"
                                                                                       target="_blank">{{mainImage.url | slice: 0:30}}{{mainImage.url.length > 30 ? '&hellip;' : ''}}</a>
                </span>
                  <span *ngIf="mainImage.description">{{mainImage.description}}</span>
                  <span *ngIf="!mainImage.description">Saknas</span>
                  <span *ngIf="mainImage.alternativeText">{{mainImage.alternativeText}}</span>
                  <span *ngIf="!mainImage.alternativeText">Saknas</span>
                </div>
              </div>
              <div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex="10%" fxLayout="column"
                   fxLayoutAlign="center center">
                <mat-icon class="delete-media" (click)="openDeleteMediaDialog(mainImage)">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasPermissionToUpdateProduct && hasPermissionToUploadMedia && !mainImage" fxLayout="row"
             fxLayoutAlign="center center">
          <button mat-button class="add-button" (click)="openUploadMainImageDialog()">
            LÄGG TILL
          </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="component first-component">
          <h3>Övriga bilder</h3>
          <mat-icon class="tooltip"
                    matTooltip="{{helpTexts.values.PRODUCT_IMAGE_IMAGES}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>

        <div *ngIf="!otherImages.length" class="component last-component">
          Saknas
        </div>

        <div fxLayout="row" *ngFor="let image of otherImages"
             class="component last-component">
          <div fxFlex="15%" fxLayoutAlign="start center" class="component">
            <img src="{{image.url}}" class="image-thumbnail">
          </div>
          <div fxFlex fxLayout="column" class="component">
            <div fxLayout="row">
              <div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
                <div fxLayout="column">
                  <span class="media-label">Länk/fil</span>
                  <span class="media-label">Bildtext</span>
                  <span class="media-label">Alt-text</span>
                </div>
                <div fxLayout="column" class="media-tooltip">
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_IMAGE_URL}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_IMAGE_DESCRIPTION}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_IMAGE_ALT}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
                <div fxLayout="column">
                  <span [matTooltip]="image.url.length > 30 ? image.url : ''"><a href="{{image.url}}"
                                                                                 target="_blank">{{image.url | slice: 0:30}}{{image.url.length > 30 ? '&hellip;' : ''}}</a></span>
                  <span *ngIf="image.description">{{image.description}}</span>
                  <span *ngIf="!image.description">Saknas</span>
                  <span *ngIf="image.alternativeText">{{image.alternativeText}}</span>
                  <span *ngIf="!image.alternativeText">Saknas</span>
                </div>
              </div>
              <div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex=10% fxLayout="column"
                   fxLayoutAlign="center center">
                <mat-icon class="delete-media" (click)="openDeleteMediaDialog(image)">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasPermissionToUpdateProduct && hasPermissionToUploadMedia" fxLayout="row"
             fxLayoutAlign="center center">
          <button mat-button class="add-button" (click)="openUploadImageDialog()">
            LÄGG TILL
          </button>
        </div>

      </div>

      <div *ngIf="productId" fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>VIDEO</h2>
        </div>

        <div *ngIf="!media.videos.length" class="component first-component last-component">
          Saknas
        </div>

        <div fxLayout="row" *ngFor="let video of media.videos; let first = first; let last = last;"
             class="component" [ngClass]="{'first-component': first, 'last-component' : last}">
          <div fxFlex="15%" fxLayoutAlign="start center" class="component">
            <mat-icon>movie</mat-icon>
          </div>
          <div fxFlex fxLayout="column" class="component">
            <div fxLayout="row">
              <div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
                <div fxLayout="column">
                  <span class="media-label">Länk</span>
                  <span class="media-label">Beskrivning</span>
                  <span class="media-label">Alt-text</span>
                </div>
                <div fxLayout="column" class="media-tooltip">
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_VIDEO_URL}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_VIDEO_DESCRIPTION}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_VIDEO_ALT}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
                <div fxLayout="column">
                  <span [matTooltip]="video.url.length > 30 ? video.url : ''"><a href="{{video.url}}"
                                                                                 target="_blank">{{video.url | slice: 0:30}}{{video.url.length > 30 ? '&hellip;' : ''}}</a></span>
                  <span *ngIf="video.description">{{video.description}}</span>
                  <span *ngIf="!video.description">Saknas</span>
                  <span *ngIf="video.alternativeText">{{video.alternativeText}}</span>
                  <span *ngIf="!video.alternativeText">Saknas</span>
                </div>
              </div>
              <div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex="10%" fxLayout="column"
                   fxLayoutAlign="center center">
                <mat-icon class="delete-media" (click)="openDeleteMediaDialog(video)">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasPermissionToUpdateProduct && hasPermissionToUploadMedia" fxLayout="row"
             fxLayoutAlign="center center">
          <button mat-button class="add-button" (click)="openUploadVideoDialog()">
            LÄGG TILL
          </button>
        </div>

      </div>

      <div *ngIf="productId" fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>DOKUMENT</h2>
        </div>

        <div *ngIf="!media.documents.length" class="component first-component last-component">
          Saknas
        </div>

        <div fxLayout="row" *ngFor="let document of media.documents; let first = first; let last = last;"
             class="component" [ngClass]="{'first-component': first, 'last-component' : last}">
          <div fxFlex="15%" fxLayoutAlign="start center" class="component document-icon-component">
            <i *ngIf="document.fileType === 'WORD'" class="far fa-file-word"></i>
            <i *ngIf="document.fileType === 'EXCEL'" class="far fa-file-excel"></i>
            <i *ngIf="document.fileType === 'PDF'" class="far fa-file-pdf"></i>
          </div>
          <div fxFlex fxLayout="column" class="component">
            <div fxLayout="row">
              <div fxFlex="90%" fxLayoutAlign="row" fxLayoutGap="15px">
                <div fxLayout="column">
                  <span class="media-label">Länk/fil</span>
                  <span class="media-label">Beskrivning</span>
                  <span class="media-label">Dokumenttyp</span>
                </div>
                <div fxLayout="column" class="media-tooltip">
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_URL}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_DESCRIPTION}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                  <mat-icon class="tooltip"
                            matTooltip="{{helpTexts.values.PRODUCT_DOCUMENT_TYPE}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </div>
                <div fxLayout="column">
                <span [matTooltip]="document.url.length > 30 ? document.url : ''"><a href="{{document.url}}"
                                                                                     target="_blank">{{document.url | slice: 0:30}}{{document.url.length > 30 ? '&hellip;' : ''}}</a></span>
                  <span *ngIf="document.description">{{document.description}}</span>
                  <span *ngIf="!document.description">Saknas</span>
                  <span *ngIf="document.documentType">{{document.documentType.value}}</span>
                  <span *ngIf="!document.documentType">Saknas</span>
                </div>
              </div>
              <div *ngIf="editMode && hasPermissionToDeleteMedia" fxFlex="10%" fxLayout="column"
                   fxLayoutAlign="center center">
                <mat-icon class="delete-media" (click)="openDeleteMediaDialog(document)">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="hasPermissionToUpdateProduct && hasPermissionToUploadMedia" fxLayout="row"
             fxLayoutAlign="center center">
          <button mat-button class="add-button" (click)="openUploadDocumentDialog()">
            LÄGG TILL
          </button>
        </div>

      </div>

      <div *ngIf="product.categoryPropertys && product.categoryPropertys.length" fxLayout="column"
           class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>KATEGORISPECIFIKA EGENSKAPER</h2>
        </div>

        <div *ngFor="let property of product.categoryPropertys; let first = first; let last = last"
             fxLayout="column" class="component" [ngClass]="{'first-component': first, 'last-component' : last}">
          <mat-form-field *ngIf="property.property.type === 'TEXTFIELD'" floatLabel="always">
            <input autocomplete="off" matInput type="text" [(ngModel)]="property.textValue"
                   [disabled]="!editMode || !hasPermissionToUpdateProduct">
            <mat-placeholder class="icon-label">{{property.property.name}}
              <mat-icon *ngIf="property.property.description" class="tooltip"
                        matTooltip="{{property.property.description}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
          <mat-form-field *ngIf="property.property.type === 'DECIMAL'" floatLabel="always">
            <input autocomplete="off" matInput type="number" [(ngModel)]="property.decimalValue"
                   [disabled]="!editMode || !hasPermissionToUpdateProduct">
            <mat-placeholder class="icon-label">{{property.property.name}}
              <mat-icon *ngIf="property.property.description" class="tooltip"
                        matTooltip="{{property.property.description}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
          <div *ngIf="property.property.type === 'INTERVAL'" fxLayout="row">
            <div class="property-interval">
              <mat-form-field fxLayoutGap="15px" floatLabel="always" class="first-interval-field">
                <input autocomplete="off" matInput type="number" [(ngModel)]="property.intervalFromValue"
                       placeholder="Min"
                       [disabled]="!editMode || !hasPermissionToUpdateProduct">
                <mat-label class="icon-label">{{property.property.name}}
                  <mat-icon *ngIf="property.property.description" class="tooltip"
                            matTooltip="{{property.property.description}}"
                            [matTooltipShowDelay]="500">info_outline
                  </mat-icon>
                </mat-label>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input autocomplete="off" matInput type="number" [(ngModel)]="property.intervalToValue"
                       [disabled]="!editMode || !hasPermissionToUpdateProduct">
                <mat-placeholder class="category-specific-placeholder">Max</mat-placeholder>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field *ngIf="property.property.type === 'VALUELIST_SINGLE'" floatLabel="always">
            <mat-select [(ngModel)]="property.singleListValue"
                        [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-option *ngFor="let value of property.property.values" [value]="value.id">
                {{ value.value }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="icon-label">{{property.property.name}}
              <mat-icon *ngIf="property.property.description" class="tooltip"
                        matTooltip="{{property.property.description}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
          <mat-form-field *ngIf="property.property.type === 'VALUELIST_MULTIPLE'" floatLabel="always">
            <mat-select [(ngModel)]="property.multipleListValue" multiple
                        matTooltip="{{getMultiTooltip(property.multipleListValue, property.property.values)}}"
                        [matTooltipShowDelay]="500"
                        [disabled]="!editMode || !hasPermissionToUpdateProduct">
              <mat-option *ngFor="let value of property.property.values" [value]="value.id">
                {{ value.value }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="icon-label">{{property.property.name}}
              <mat-icon *ngIf="property.property.description" class="tooltip"
                        matTooltip="{{property.property.description}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="productId" fxLayout="column" class="column-content border-component">

        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>PRODUKT HAR UTGÅTT</h2>
        </div>

        <div fxLayout="row" class="component first-component">
          <mat-checkbox [checked]="product.status === 'DISCONTINUED'" disabled>
            Produkten utgår
          </mat-checkbox>
          <mat-icon class="tooltip"
                    matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED}}"
                    [matTooltipShowDelay]="500">info_outline
          </mat-icon>
        </div>
        <div *ngIf="product.replacementDate" fxLayout="row" class="component">
          <mat-form-field>
            <input autocomplete="off" matInput [matDatepicker]="picker" disabled
                   [(ngModel)]="replacementDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-placeholder class="icon-label">Datum
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED_DATE}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div *ngIf="product.replacementDate" fxLayout="column" class="component">
          <mat-radio-group [(ngModel)]="replaced" disabled>
            <div>
              <mat-radio-button [value]="false">
                Ersättningsprodukt saknas
                <mat-icon class="tooltip"
                          matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED_REPLACED}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-radio-button>
            </div>
            <div>
              <mat-radio-button [value]="true">
                Ersätts av produkt
              </mat-radio-button>
            </div>
          </mat-radio-group>
          <div *ngIf="replaced" class="selected-products">
            <mat-label disabled>
              Produkter
              <mat-icon class="tooltip"
                        matTooltip="{{helpTexts.values.PRODUCT_DISCONTINUED_REPLACED_BY_PRODUCT}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-label>
            <div *ngFor="let prod of product.replacedByProducts">
              <a
                href="/organization/{{prod.organizationId}}/product/{{prod.id}}/handle?search=true">{{prod.productNumber}}
                - {{prod.productName}}</a>
            </div>
          </div>
        </div>
        <div *ngIf="!reactivating && hasPermissionToUpdateProduct" fxLayout="row" class="component">
          <button *ngIf="editMode && product.status !== 'DISCONTINUED' && !replacementDate" mat-button
                  class="add-button" (click)="chooseReplacementProduct()">
            INAKTIVERA
          </button>
          <button *ngIf="product.status === 'DISCONTINUED'" mat-button class="add-button" (click)="reactivateProduct()">
            ÅTERAKTIVERA
          </button>
          <button *ngIf="(editMode || product.status === 'DISCONTINUED') && replacementDate" mat-button
                  class="add-button"
                  (click)="editReplacementProducts()">
            ÄNDRA
          </button>
        </div>
        <mat-progress-spinner *ngIf="reactivating" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
         class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button *ngIf="editMode && hasPermissionToUpdateProduct && !saving" mat-raised-button color="primary"
                (click)="saveProduct()">SPARA
        </button>
        <a *ngIf="!saving && productId" mat-button (click)="cancel()">AVBRYT</a>
        <a *ngIf="!saving && !productId" mat-button (click)="goBack()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
