<!--
* Copyright (C) 2019 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div fxLayout="row" class="component first-component">
  <h1>Lägg till en kommentar</h1>
</div>

<div fxLayout="column" class="component first-component">
  <mat-form-field class="full-width">
    <textarea maxlength="10000" autocomplete="off" cdkAutosizeMinRows="1"
              cdkTextareaAutosize matInput type="text" [(ngModel)]="message">
    </textarea>
  </mat-form-field>
</div>

<mat-dialog-actions>
   
  <button mat-button [disabled]="loading" (click)="done()"> 
    FORTSÄTT
  </button>

  <button mat-button mat-dialog-close>
    AVBRYT
  </button>

</mat-dialog-actions>

<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
