<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
    <div fxFlex="95%">
      <h1 *ngIf="childProduct.productId">{{childProduct.product.productName}}</h1>
      <h1 *ngIf="!childProduct.productId">Ny produkt</h1>
    </div>
    <div
      *ngIf="!tabIndex && childProduct.productId && !childProduct.editMode && childProduct.hasPermissionToUpdateProduct && childProduct.product.status !== 'DISCONTINUED'"
      fxFlex="2%"
      fxLayoutAlign="center">
      <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
    </div>
    <div
      *ngIf="!tabIndex && childProduct.productId && !childProduct.editMode && childProduct.hasPermissionToUpdateProduct"
      fxFlex="2%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span class="menu-label">MENY</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                routerLink="/organization/{{organizationId}}/product/copy"
                [queryParams]="{copiedProduct: childProduct.productId}">
          <mat-icon color="primary">file_copy</mat-icon>
          <span>Kopiera produkt</span>
        </button>
        <button *ngIf="isCheckingIfProductIsRemovable" mat-menu-item disabled>
        <mat-progress-spinner [diameter]="20" mode="indeterminate"></mat-progress-spinner>
      </button>
        <button *ngIf="loaded && !hasArticleBasedOnIt && !isCheckingIfProductIsRemovable" (click)="childProduct.openDeleteProductDialog()" mat-menu-item>
          <mat-icon color="primary">delete</mat-icon>
          <span>Ta bort produkt</span>
        </button>

      </mat-menu>
    </div>


  <!--  <div
      *ngIf="tabIndex == 1 && childProduct.productId && !childProduct.editMode && childProduct.hasPermissionToUpdateProduct"
      fxFlex="3%"> -->
      <div
        *ngIf="tabIndex == 1 && childProduct.productId && !childProduct.editMode"
        fxFlex="3%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                class="tooltip"
                                                matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                [matTooltipShowDelay]="500">info_outline
        </mat-icon></span>
      </button>

      <mat-menu #menu="matMenu" class="wide-mat-menu">
        <button mat-menu-item (click)="exportSearchResults()">
          <mat-icon color="primary">save_alt</mat-icon>
          <span>Exportera sökresultat till Excel-fil</span>
        </button>
      </mat-menu>

    </div>

  </div>

  <div *ngIf="!redirectedFromSearch" fxLayout="row" class="navigation">
    <span routerLink="/organization/{{organizationId}}/product">Produkter och artiklar</span><span> > </span><span
    class="navigation-last">Hantera produkt</span>
  </div>

  <div *ngIf="childProduct.productId" fxLayout="row" class="content" fxLayoutAlign="start center">
    <h3>Status: {{childProduct.product.status | formatProductStatus}}</h3>
  </div>

  <mat-tab-group class="tab-group" (selectedTabChange)="onTabSelection($event)">
    <mat-tab label="Produkt" [disabled]="childProduct.editMode">
      <div class="tab-content">
        <app-handle-product></app-handle-product>
      </div>
    </mat-tab>
    <mat-tab *ngIf="childProduct.productId" label="Artiklar" [disabled]="childProduct.editMode">
      <div class="tab-content">
        <app-connection></app-connection>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
