/*
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  //min-width: 640px;

  .mat-icon {
    height: 28px;
  }
}

.logotype-container {
  background-color: white;
  width: 80px;
  height: 100%;
  margin-left: -16px;
}

.logotype {
  width: 68px;
  height: 48px;
}

.header-title {
  margin-left: 15px;
  font-weight: 700;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-weight: 700;
}

.active-menu-item {
  border-bottom: 8px solid;
}

.link {
  cursor: pointer;
}

.no-link {
  cursor: default;
}
