<!--
* Copyright (C) 2018 Inera AB (http://www.inera.se)
*
* This file is part of Hjalpmedelstjansten (https://bitbucket.org/ineraservices/hjalpmedelstjansten).
*
* Hjalpmedelstjansten is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Hjalpmedelstjansten is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<div class="page-wrapper">
  <div *ngIf="!loaded || !helpTextsLoaded" class="content">Laddar...</div>
  <div *ngIf="loaded && helpTextsLoaded">
    <div fxLayout="row" class="navigation-header" fxLayoutAlign="start center">
      <div fxFlex="95%">
        <h1 *ngIf="assortmentId">{{assortment.name}}</h1>
        <h1 *ngIf="!assortmentId">Nytt utbud</h1>
      </div>
      <div
        *ngIf="assortmentId && !editMode && (hasPermissionToCreateAssortment || hasPermissionToUpdateAssortment || isSuperAdmin)"
        fxFlex="2%" fxLayoutAlign="center">
        <mat-icon (click)="toggleEditMode()" class="edit-mode-toggle">edit</mat-icon>
      </div>

      <div *ngIf="assortmentId && !editMode" fxFlex="3%">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <span class="menu-label">MENY <mat-icon matSuffix *ngIf="helpTextsLoaded"
                                                  class="tooltip"
                                                  matTooltip="{{helpTexts.values.SEARCH_MENU}}"
                                                  [matTooltipShowDelay]="500">info_outline
        </mat-icon></span>
        </button>
        <mat-menu #menu="matMenu" class="wide-mat-menu">
          <button mat-menu-item (click)="exportSearchResults()">
            <mat-icon color="primary">save_alt</mat-icon>
            <span>Exportera sökresultat till Excel-fil</span>
          </button>
        </mat-menu>
      </div>

    </div>
    <div fxLayout="row" class="navigation">
      <span routerLink="/organization/{{organizationId}}/assortment">Utbud</span><span> > </span><span
      class="navigation-last">Hantera utbud</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="content" fxLayout.lt-md="{{flexDirection}}">
      <div fxLayout="column" fxFlex="50%" class="column-content border-component">
        <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
          <h2>UTBUD</h2>
        </div>

        <div fxLayout="row" class="component first-component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput autofocus required [formControl]="nameFormControl">
            <mat-placeholder class="icon-label">Namn
              <mat-icon *ngIf="helpTextsLoaded"
                        class="tooltip"
                        matTooltip="{{helpTexts.values.ASSORTMENT_NAME}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
            <mat-error *ngIf="nameError">{{nameError}}</mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="assortmentId" fxLayout="row" class="component">
          <mat-form-field floatLabel="always">
            <input autocomplete="off" matInput disabled required [(ngModel)]="assortment.customer.organizationName">
            <mat-placeholder class="icon-label">Organisation
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div class="validity-dates" fxLayout="row" fxLayout.lt-md="{{flexDirection}}" fxLayoutGap="20px">
          <div fxFlex="50%">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [matDatepicker]="pickerFrom" required
                     [formControl]="validFromFormControl">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
              <mat-placeholder class="icon-label">Giltig from
                <mat-icon *ngIf="helpTextsLoaded"
                          class="tooltip"
                          matTooltip="{{helpTexts.values.ASSORTMENT_VALID_FROM}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="validFromError">{{validFromError}}</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50%">
            <mat-form-field floatLabel="always">
              <input autocomplete="off" matInput [matDatepicker]="pickerTo" [formControl]="validToFormControl">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
              <mat-placeholder class="icon-label">Giltig tom
                <mat-icon *ngIf="helpTextsLoaded"
                          class="tooltip"
                          matTooltip="{{helpTexts.values.ASSORTMENT_VALID_TO}}"
                          [matTooltipShowDelay]="500">info_outline
                </mat-icon>
              </mat-placeholder>
              <mat-error *ngIf="validToError">{{validToError}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" class="component last-component">
          <mat-form-field floatLabel="always">
            <mat-select *ngIf="editMode && !isSuperAdmin" multiple [(ngModel)]="selectedAssortmentManagers">
              <mat-option *ngFor="let manager of assortmentManagers" [value]="manager">
                {{manager.firstName}} {{manager.lastName}}
              </mat-option>
            </mat-select>
            <textarea *ngIf="!editMode || isSuperAdmin" type="text" matInput readonly matTextareaAutosize disabled
                      [(ngModel)]="selectedAssortmentManagersString">
            </textarea>
            <mat-placeholder class="icon-label">Utbudsansvarig
              <mat-icon *ngIf="helpTextsLoaded"
                        class="tooltip"
                        matTooltip="{{helpTexts.values.ASSORTMENT_MANAGER}}"
                        [matTooltipShowDelay]="500">info_outline
              </mat-icon>
            </mat-placeholder>
          </mat-form-field>
        </div>

      </div>

      <div *ngIf="assortmentId" fxLayout="column" fxFlex="50%" fxLayoutGap="20px" class="column-content">
        <div class="border-component">
          <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
            <h2>FÖR LÄN OCH KOMMUN</h2>
            <mat-icon *ngIf="helpTextsLoaded"
                      class="tooltip"
                      matTooltip="{{helpTexts.values.ASSORTMENT_COUNTY_AND_MUNICIPALITY_HEADER}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>

          <div fxLayout="row" class="component first-component">
            <mat-form-field floatLabel="always">
              <mat-select [(ngModel)]="selectedCounty"
                          [disabled]="!editMode || !isSuperAdmin"
                          [required]="isSuperAdmin"
                          (selectionChange)="onCountySelection()">
                <mat-option *ngFor="let county of counties" [value]="county">
                  {{ county.name }}
                </mat-option>
              </mat-select>
              <mat-placeholder>Län</mat-placeholder>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="component">
            <h3>Utbudet ärvs av följande kommuner</h3>
            <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                      matTooltip="{{helpTexts.values.ASSORTMENT_MUNICIPALITY_INHERITANCE}}"
                      [matTooltipShowDelay]="500">info_outline
            </mat-icon>
          </div>
          <div *ngIf="selectedCounty" fxLayout="column" class="component last-component">
            <div *ngFor="let municipality of selectedCounty.municipalities">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? municipalitySelection.toggle(municipality) : null"
                            [checked]="municipalitySelection.isSelected(municipality)"
                            [disabled]="!editMode || !isSuperAdmin">
                {{municipality.name}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="assortmentId" fxLayout="row" class="component content">
      <div fxFlex="80%" class="container mat-elevation-z1">
        <mat-form-field>
          <input autocomplete="off" matInput [(ngModel)]="tmpQuery" (ngModelChange)="onQueryChanged($event)">
          <mat-placeholder>Sök på artikelnummer eller benämning</mat-placeholder>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div *ngIf="assortmentId && !isSuperAdmin && (hasPermissionToAddAllArticles || hasPermissionToAddArticles)"
           fxFlex="20%" fxLayoutAlign="end center">
        <button routerLink="/organization/{{organizationId}}/assortment/{{assortmentId}}/add-article" mat-raised-button
                color="primary">LÄGG TILL ARTIKLAR
        </button>
      </div>
    </div>

    <div *ngIf="assortmentId && searchTotal" fxLayout="row" class="content">
      <div fxFlex="80%">
        <div fxLayoutAlign="start">
          <span>Sökresultat
            <span *ngIf="articles.length !== 1 && !loading">"{{tmpQuery}}" ({{searchTotal}} träffar)</span>
            <span *ngIf="articles.length === 1  && !loading">"{{tmpQuery}}" ({{searchTotal}} träff)</span>
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="assortmentId" fxLayout="column" class="content border-component">
      <div fxLayout="row" fxLayoutAlign="start center" class="component-title">
        <h2>ARTIKLAR I UTBUDET</h2>
        <mat-icon *ngIf="helpTextsLoaded" class="tooltip"
                  matTooltip="{{helpTexts.values.ASSORTMENT_ARTICLES_HEADER}}"
                  [matTooltipShowDelay]="500">info_outline
        </mat-icon>
      </div>
      <div *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!articles.length && !loading" class="container">
        Saknas
      </div>
      <div *ngIf="articles.length && !loading" class="container mat-elevation-z1">

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="typ">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Typ</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.category.articleType}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="artikelnummer">
            <mat-header-cell *matHeaderCellDef fxFlex="30%"> Artikelnummer</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.articleNumber}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="artikelbenämning">
            <mat-header-cell *matHeaderCellDef fxFlex="30%"> Artikelbenämning</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.articleName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="organisation">
            <mat-header-cell *matHeaderCellDef fxFlex="25%"> Organisation</mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="25%"> {{element.organizationName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef fxFlex="5%"></mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5%" fxLayoutAlign="end center"
                      (click)="$event.preventDefault();$event.stopPropagation();">
              <mat-icon
                *ngIf="assortmentId && !isSuperAdmin &&
                (hasPermissionToDeleteAllArticles || hasPermissionToDeleteArticles)"
                (click)="removeArticleFromAssortment(element.id)">delete
              </mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   routerLink="/organization/{{row.organizationId}}/article/{{row.id}}/handle"
                   [queryParams]="{search: true}"></mat-row>

        </mat-table>
        <div *ngIf="searchTotal> offset" fxLayout="row" fxLayoutAlign="center center" class="paginator">
          <span *ngIf="currentPage !== 1" class="paginator-nav" (click)="goToPage(currentPage - 1)"><</span>
          <div *ngFor="let pageNumber of paginatorArray">
            <span [ngClass]="{'paginator-nav' : pageNumber !=='...', 'current-page' : pageNumber === currentPage}"
                  (click)="goToPage(pageNumber)">{{pageNumber}}</span>
          </div>
          <span *ngIf="currentPage < totalPages" class="paginator-nav" (click)="goToPage(currentPage + 1)">></span>
        </div>
      </div>
    </div>

    <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="savebar-container">
      <div fxFlex="50%"></div>
      <div fxFlex="50%">
        <button *ngIf="!saving && editMode"
                mat-raised-button
                color="primary" (click)="saveAssortment()">SPARA
        </button>
        <a *ngIf="!saving && assortmentId" mat-button (click)="cancel()">AVBRYT</a>
        <a *ngIf="!saving && !assortmentId" mat-button (click)="goBack()">AVBRYT</a>
        <mat-progress-spinner *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

  </div>
</div>
